.duk-search-list {
  @apply flex flex-col gap-y-3;

  &__results {
    @apply flex flex-col gap-y-4;
  }

  &__item {
    @apply flex flex-row justify-between items-center;

    &--token {
      @apply flex flex-row items-center gap-x-5;
    }

    &--border {
      @apply flex justify-center items-center border-2 border-gray-700 rounded-full w-12 h-12;
      @apply dark:border-gray-400;

      img {
        @apply h-8 w-auto;
      }
    }
  }
}
