.duk-table {
  @apply table-auto border-collapse leading-7;

  &--fixed {
    @apply table-fixed;
  }

  &--compact {
    & > tbody > tr > td {
      @apply py-1 text-xs;
    }
  }

  &--spacious {
    & > tbody > tr > td {
      @apply py-4 text-lg;
    }

    & > thead > tr > th.duk-table__row__datum--prominent {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @apply text-xl;
      }
    }
  }

  &--light {
    @apply bg-white;

    & > thead > tr > th.duk-table__row__datum--prominent {
      @apply border-t border-b border-orange-500;
    }

    & > tbody > tr.duk-table__row--highlight > td {
      @apply text-orange-500;
    }
  }

  &--dark {
    @apply bg-gray-900 text-white;

    & > thead > tr > th.duk-table__row__datum--prominent {
      @apply border-t border-b border-yellow-500;
    }

    & > tbody > tr.duk-table__row--highlight > td {
      @apply text-yellow-500;
    }
  }

  &--light&--striped {
    & > tbody > tr:nth-child(odd) {
      @apply bg-gray-100;
    }

    & > tbody > tr:nth-child(even) {
      @apply bg-white;
    }
  }

  &--dark&--striped {
    & > tbody > tr:nth-child(odd) {
      @apply bg-gray-700;
    }

    & > tbody > tr:nth-child(even) {
      @apply bg-gray-900;
    }
  }

  & > thead > tr > th {
    @apply text-left font-bold;
  }

  &__row {
    &__datum {
      @apply px-5 py-2;

      &--prominent {
        @apply py-3;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          @apply text-base;
        }
      }
    }
  }
}
