.duk-navbar {
  @apply font-light items-center flex flex-wrap justify-between py-5 px-5 w-screen;

  &__title {
    @apply flex items-center flex-shrink-0;

    & > div[slot="logo"] {
      @apply inline-flex;
    }

    svg {
      @apply block fill-current h-6;
    }

    &__heading {
      @apply font-medium leading-relaxed text-base ml-12;
    }
  }

  &__collapse {
    @apply block;
    @screen lg {
      @apply hidden;
    }

    &__button {
      @apply flex items-center;
    }
  }

  &__logo {
    @apply inline-block self-center;
  }

  &__menu--hidden {
    @apply hidden;
    @screen lg {
      @apply block;
    }
  }

  &__menu.duk-menu--horizontal {
    @apply flex-grow w-full;

    & .duk-list--menu {
      @apply flex-col mt-5;
      @screen lg {
        @apply flex-row flex-1 justify-end my-0;
      }
    }

    & .duk-list--menu .duk-list__item {
      @apply py-0 px-0 mb-5 leading-relaxed font-light;

      &:last-child {
        @apply mb-0;
      }

      @screen lg {
        @apply mb-0 mx-3;
      }

      &__wrapper {
        @apply text-right py-0 px-0;

        &:is(a) {
          @apply opacity-50;
        }

        @screen lg {
          @apply shadow-none;
        }

        &--active {
          @apply pr-5 shadow-active-r font-normal;

          @screen lg {
            @apply pr-0 shadow-active-t;
          }
        }
      }
    }

    &:hover {
      & a {
        @apply opacity-50;
      }

      & a:hover {
        @apply opacity-100;
      }
    }
    @screen lg {
      @apply self-center flex flex-shrink flex-grow-0 w-auto;
    }
  }

  &--brand {
    @apply bg-purple-600 text-white;

    & a,
    a:hover {
      @apply text-white;
    }
  }

  &--cta {
    @apply bg-orange-500 text-white;

    & a,
    a:hover {
      @apply text-white;
    }
  }

  &--info {
    @apply bg-purple-400 text-white;

    & a,
    a:hover {
      @apply text-white;
    }
  }

  &--success {
    @apply bg-green-500 text-white;

    & a,
    a:hover {
      @apply text-white;
    }
  }

  &--warning {
    @apply bg-yellow-500 text-gray-900;

    & a,
    a:hover {
      @apply text-white;
    }
  }

  &--danger {
    @apply bg-red-500 text-white;

    & a,
    a:hover {
      @apply text-white;
    }
  }

  &--white {
    @apply bg-white text-black;

    & a,
    a:hover {
      @apply text-black;
    }
  }

  &--light {
    @apply bg-gray-200 text-gray-800;

    & a,
    a:hover {
      @apply text-gray-200;
    }
  }

  &--dark {
    @apply bg-gray-900 text-gray-200;

    & a,
    a:hover {
      @apply text-gray-200;
    }
  }

  &--black {
    @apply bg-black text-white;

    & a,
    a:hover {
      @apply text-white;
    }
  }
}
