.duk-navbar {
  @apply font-light flex flex-col w-full;

  &__wrapper {
    @apply flex-none flex w-full justify-between items-start;

    @screen lg {
      @apply items-center;
    }

    &--primary {
      @apply fill-current;

      @screen lg {
        @apply pt-2;
      }
    }

    &--secondary {
      @apply px-6 pb-3 pt-4;

      /* @screen lg {
      } */
    }
  }

  &__brand {
    @apply flex flex-col items-start flex-grow;

    & [slot="logo"] {
      @apply inline-flex ml-4 my-5;

      @screen lg {
        @apply mr-6 mb-2 ml-0 mt-0;
      }
    }

    & svg {
      @apply block fill-current h-6;
    }

    &__heading {
      @apply font-medium leading-relaxed text-base ml-3 w-full block text-center;

      @screen lg {
        @apply ml-0 mr-5 pb-2 w-auto inline;
      }
    }

    @screen lg {
      @apply flex-row items-center px-6;
    }
  }

  &__collapse {
    @apply absolute;

    right: 1rem;
    top: 1rem;

    @screen lg {
      @apply hidden;
    }

    &__button {
      @apply flex items-center;
    }
  }

  &__logo {
    @apply inline-block self-center;
  }

  &__navigation {
    @apply flex-grow w-full;

    &--primary {
      & .duk-list__item__wrapper {
        @apply px-3 pt-4 pb-4;

        &--active {
          @apply px-6;

          @screen lg {
            @apply px-5 rounded-t;
          }
        }

        @screen lg {
          @apply pt-2;
        }
      }
    }

    &--secondary {
      & .duk-list__item__wrapper {
        @apply mb-5;

        &--active {
          @apply font-semibold;

          @screen lg {
            @apply border-t-2;
          }
        }

        @screen lg {
          @apply mb-0;
        }
      }
    }

    /* FIXME Temp solution, we need to always show this. */
    &--tertiary {
      @apply hidden;
      @screen lg {
        @apply block;
      }
    }

    & .duk-list {
      @apply flex flex-col;

      &__item {
        @apply py-0 pl-0 leading-relaxed font-light w-full;

        &__wrapper {
          @apply w-full text-left;

          &:is(a):not(.duk-list__item__wrapper--active) {
            @apply opacity-50 transition-all duration-700;
          }

          @screen lg {
            @apply text-left;
          }
        }

        &:last-child {
          @apply mb-0;

          & .duk-list__item__wrapper {
            @apply mb-0;
          }
        }

        @screen lg {
          @apply mb-0 pr-0 mr-5 w-auto;
        }
      }
      @screen lg {
        @apply flex-row flex-1 justify-end mb-0;
      }
    }

    &:hover {
      & a {
        @apply opacity-50 transition-all duration-700;
      }

      & a:hover {
        @apply opacity-100 transition-all duration-700;
      }
    }
    @screen lg {
      @apply flex flex-shrink flex-grow-0 w-auto h-auto;
    }
  }

  &--hidden {
    @apply h-auto;

    & .duk-navbar__navigation,
    & .duk-navbar__wrapper--secondary {
      @apply hidden;
      @screen lg {
        @apply flex;
      }
    }
  }

  &--brand {
    & .duk-navbar__wrapper--primary {
      @apply text-indigo-500;

      & .duk-list__item__wrapper {
        &--active {
          @apply bg-indigo-500 text-white;
        }
      }
    }

    & .duk-navbar__wrapper--secondary {
      @apply bg-indigo-500 text-white;

      & .duk-list__item__wrapper {
        &--active {
          @apply bg-indigo-500 text-white;

          @screen lg {
            @apply border-white;
          }
        }
      }
    }
  }
}
