.duk-navbar {
  @apply items-center flex text-lg flex-wrap justify-between py-8 px-6 w-screen;

  &__collapse {
    @apply block;
    @screen lg {
      @apply hidden;
    }
  }

  &__logo {
    @apply inline-block self-center;
  }

  &__menu {
    @apply flex-grow w-full;

    &--hidden {
      @apply hidden;
      @screen lg {
        @apply block;
      }
    }

    & > .duk-list--menu {
      @apply flex-col my-5;
      @screen lg {
        @apply flex-row flex-1 justify-end my-0;
      }
    }

    & > .duk-list__item {
      @apply py-2;
      @screen lg {
        @apply px-2 py-0;
      }

      &__wrapper {
        @apply opacity-50;
      }
    }

    &:hover {
      & a {
        @apply opacity-50;
      }

      & a:hover {
        @apply opacity-100;
      }
    }
    @screen lg {
      @apply self-center flex flex-shrink flex-grow-0 w-auto;
    }
  }

  &--brand {
    @apply bg-purple-600 text-white;

    & a,
    a:hover {
      @apply text-white;
    }
  }

  &--cta {
    @apply bg-orange-500 text-white;
    & a,
    a:hover {
      @apply text-white;
    }
  }

  &--info {
    @apply bg-purple-400 text-white;
    & a,
    a:hover {
      @apply text-white;
    }
  }

  &--success {
    @apply bg-green-500 text-white;
    & a,
    a:hover {
      @apply text-white;
    }
  }

  &--warning {
    @apply bg-yellow-500 text-white;
    & a,
    a:hover {
      @apply text-white;
    }
  }

  &--danger {
    @apply bg-red-500 text-white;
    & a,
    a:hover {
      @apply text-white;
    }
  }

  &--white {
    @apply bg-white text-black;
    & a,
    a:hover {
      @apply text-black;
    }
  }

  &--light {
    @apply bg-gray-200 text-gray-800;
    & a,
    a:hover {
      @apply text-gray-200;
    }
  }

  &--dark {
    @apply bg-gray-900 text-gray-200;
    & a,
    a:hover {
      @apply text-gray-200;
    }
  }

  &--black {
    @apply bg-black text-white;
    & a,
    a:hover {
      @apply text-white;
    }
  }
}
