.duk-navbar {
  @apply flex flex-col w-full mb-5 bg-white;
  @apply dark:bg-black;
  @apply sm:mb-12;
  @apply lg:mb-32 pt-2;
  @apply 2xl:mb-40;

  &__wrapper {
    @apply lg:flex-none lg:flex lg:w-full lg:justify-between lg:items-end;

    &--primary {
      @apply fill-current text-indigo-500;
      @apply dark:text-white;
      @apply lg:h-auto lg:px-6;
    }

    &--secondary {
      @apply pl-0 pr-0 pb-3 pt-4 bg-indigo-400 text-white;
      @apply lg:px-6 lg:bg-indigo-500;
      @apply dark:bg-indigo-200 dark:text-gray-900;
    }
  }

  &__brand {
    @apply flex flex-col items-start pt-5;
    @apply lg:flex-grow lg:flex-row lg:items-center lg:space-x-6 lg:pl-0 lg:pt-0;
  }

  &__heading {
    @apply font-medium leading-relaxed text-base ml-3 w-full block text-center;
    @apply lg:ml-0 lg:mr-5 lg:pb-2 lg:w-auto lg:inline;
  }

  &__collapse {
    @apply absolute top-5 right-5;
    @apply lg:hidden;

    & button {
      @apply flex items-center;
    }
  }

  &__navigation {
    @apply flex-grow w-full;
    @apply lg:flex lg:flex-shrink lg:flex-grow-0 lg:w-auto lg:h-auto;

    &--primary {
      @apply mt-4;
      @apply lg:space-x-5 lg:mt-0 lg:items-end;

      & .duk-menu__list {
        @apply flex flex-col space-y-0 space-x-0;
        @apply lg:flex-row lg:flex-1 lg:justify-end lg:mb-0 lg:space-y-0 lg:space-x-5;

        & .duk-menu__item {
          @apply py-0 pl-0 leading-relaxed w-full;
          @apply lg:mb-0 lg:pr-0 lg:w-auto;

          & .duk-menu__item-wrapper {
            &:is(a):not(.duk-menu__item-wrapper--active) {
              @apply opacity-80;
            }
          }

          &--active {
            @apply order-last font-semibold;
            @apply lg:order-none;
          }
        }

        & .duk-menu__item-wrapper {
          @apply px-6 py-4;
          @apply lg:px-5 lg:pt-2 lg:rounded-t lg:border-l lg:border-t lg:border-r lg:border-transparent;

          &--active {
            @apply bg-indigo-500 text-white px-6;
            @apply dark:bg-indigo-300 dark:border-indigo-200 dark:text-gray-900;
            @apply lg:dark:bg-indigo-200 lg:px-5;
          }
        }
      }

      &:hover {
        & a {
          @apply lg:opacity-80 lg:ease-in-out lg:transition lg:transition-all lg:duration-1000;
        }

        & a.duk-menu__item-wrapper--active:hover {
          @apply opacity-100 ease-in-out transition transition-all duration-1000;
        }

        & a:not(.duk-menu__item-wrapper--active) {
          &:hover {
            @apply opacity-100 transition transition-all ease-in-out duration-1000 border-indigo-300 border-dashed;
          }
        }
      }
    }

    &--secondary {
      & .duk-menu {
        &__list {
          @apply flex flex-col space-y-5 space-x-0;
          @apply lg:flex-row lg:flex-1 lg:justify-end lg:mb-0 lg:space-y-0 lg:space-x-5;
        }

        &__item {
          @apply py-0 pl-0 leading-relaxed w-full;
          @apply lg:mb-0 lg:pr-0 lg:w-auto;

          &--active {
            @apply font-semibold;
          }
        }

        &__item-wrapper {
          @apply px-6 pt-4 pb-4;
          @apply lg:px-0 lg:pt-2;
        }
      }
    }

    /* FIXME Temp solution, we need to always show this. */
    &--tertiary {
      @apply hidden;
      @apply lg:mb-3 lg:items-center lg:space-x-5 lg:flex;
    }
  }

  &__light-mode-icon {
    @apply dark:text-yellow-900;
  }

  &__dark-mode-icon {
    @apply text-indigo-700;
    @apply dark:text-indigo-300;
  }

  &--hidden {
    @apply h-auto bg-transparent;
    @apply dark:bg-transparent;

    & ^&__navigation,
    & ^&__wrapper--secondary {
      @apply hidden;
      @apply lg:flex;
    }
  }
}
