.duk-navbar {
  @apply font-light flex flex-col w-full mb-5;
  @apply sm:mb-12;
  @apply lg:mb-32;
  @apply 2xl:mb-40;

  &__wrapper {
    @apply flex-none flex w-full justify-between items-start;
    @apply lg:items-center;

    &--primary {
      @apply fill-current;
      @apply lg:pt-2;
    }

    &--secondary {
      @apply px-6 pb-3 pt-4;
    }
  }

  &__brand {
    @apply flex flex-col items-start flex-grow;
    @apply lg:flex-row lg:items-center lg:px-6;

    & [slot="logo"],
    .duk-navbar__logo {
      @apply inline-flex ml-4 my-5;
      @apply lg:mr-6 lg:mb-2 lg:ml-0 lg:mt-0;
    }

    & svg {
      @apply block fill-current h-6;
    }

    &__heading {
      @apply font-medium leading-relaxed text-base ml-3 w-full block text-center;
      @apply lg:ml-0 lg:mr-5 lg:pb-2 lg:w-auto lg:inline;
    }
  }

  &__collapse {
    @apply absolute;
    @apply lg:hidden;

    right: 1rem;
    top: 1rem;

    &__button {
      @apply flex items-center;
    }
  }

  &__logo {
    @apply inline-block;
    @apply lg:self-center;
  }

  &__links-menu {
    &__item {
      & > .duk-list__item__wrapper {
        @apply flex items-center;
      }
    }
  }

  &__navigation {
    @apply flex-grow w-full;
    @apply lg:flex lg:flex-shrink lg:flex-grow-0 lg:w-auto lg:h-auto;

    &--primary {
      & .duk-list__item__wrapper {
        @apply px-3 pt-4 pb-4;
        @apply lg:pt-2;

        &--active {
          @apply px-6;
          @apply lg:px-5 lg:rounded-t;
        }
      }
    }

    &--secondary {
      & .duk-list__item__wrapper {
        @apply mb-5;
        @apply lg:mb-0;

        &--active {
          @apply font-semibold;
          @apply lg:border-t-2;
        }
      }
    }

    /* FIXME Temp solution, we need to always show this. */
    &--tertiary {
      @apply hidden;
      @apply lg:block;
    }

    & .duk-list {
      @apply flex flex-col;
      @apply lg:flex-row lg:flex-1 lg:justify-end lg:mb-0;

      &__item {
        @apply py-0 pl-0 leading-relaxed font-light w-full;
        @apply lg:mb-0 lg:pr-0 lg:mr-5 lg:w-auto;

        &__wrapper {
          @apply w-full text-left;
          @apply lg:text-left;

          &:is(a):not(.duk-list__item__wrapper--active) {
            @apply opacity-80 transition-all duration-700;
          }
        }

        &:last-child {
          @apply mb-0;

          & .duk-list__item__wrapper {
            @apply mb-0;
          }
        }
      }
    }

    &:hover {
      & a {
        @apply opacity-50 transition-all duration-700;
      }

      & a:hover {
        @apply opacity-100 transition-all duration-700;
      }
    }
  }

  &--hidden {
    @apply h-auto;

    & .duk-navbar__navigation,
    & .duk-navbar__wrapper--secondary {
      @apply hidden;
      @apply lg:flex;
    }
  }

  &--brand {
    & .duk-navbar__wrapper--primary {
      @apply text-indigo-500;

      & .duk-list__item__wrapper {
        &--active {
          @apply bg-indigo-500 text-white;
        }
      }
    }

    & .duk-navbar__wrapper--secondary {
      @apply bg-indigo-500 text-white;

      & .duk-list__item__wrapper {
        &--active {
          @apply bg-indigo-500 text-white;
          @apply lg:border-white;
        }
      }
    }
  }
}
