.duk-navbar {
  @apply flex flex-col w-full mb-5;
  @apply sm:mb-12;
  @apply lg:mb-32;
  @apply 2xl:mb-40;

  &__wrapper {
    @apply lg:flex-none lg:flex lg:w-full lg:justify-between lg:items-end;

    &--primary {
      @apply fill-current text-indigo-500;
      @apply dark:text-white;
      @apply lg:h-24 lg:px-6;
    }

    &--secondary {
      @apply pl-0 pr-0 pb-3 pt-4 bg-indigo-400 text-white;
      @apply lg:px-6 lg:bg-indigo-500;
      @apply dark:bg-indigo-200 dark:text-gray-900;
    }
  }

  &__brand {
    @apply flex flex-col items-start pt-5;
    @apply lg:flex-grow lg:flex-row lg:items-center lg:space-x-6 lg:pl-0 lg:pt-0;

    & svg {
      @apply block fill-current h-6 w-auto;
    }
  }

  &__heading {
    @apply font-medium leading-relaxed text-base ml-3 w-full block text-center;
    @apply lg:ml-0 lg:mr-5 lg:pb-2 lg:w-auto lg:inline;
  }

  &__collapse {
    @apply absolute;
    @apply lg:hidden;

    right: 1rem;
    top: 1rem;

    & button {
      @apply flex items-center;
    }
  }

  &__logo {
    @apply block h-full ml-5;
    @apply lg:mb-3 lg:ml-0;
  }

  &__navigation {
    @apply flex-grow w-full;
    @apply lg:flex lg:flex-shrink lg:flex-grow-0 lg:w-auto lg:h-auto;

    &--primary {
      @apply mt-4;
      @apply lg:space-x-5 lg:mt-0;

      & .duk-list {
        @apply flex flex-col space-y-0 space-x-0;
        @apply lg:flex-row lg:flex-1 lg:justify-end lg:mb-0 lg:space-y-0 lg:space-x-5;

        &__item {
          @apply py-0 pl-0 leading-relaxed w-full;
          @apply lg:mb-0 lg:pr-0 lg:w-auto;

          & .duk-list__item-wrapper {
            &:is(a):not(.duk-list__item-wrapper--active) {
              @apply opacity-80;
            }
          }
          &--active {
            @apply order-last font-semibold;
            @apply lg:order-none;
          }
        }

        &__item-wrapper {
          @apply px-6 pt-4 pb-4;
          @apply lg:px-4 lg:pt-2;

          &--active {
            @apply px-6;
            @apply lg:px-5 lg:rounded-t;

            @apply bg-indigo-500 text-white;
            @apply dark:bg-indigo-200 dark:border-indigo-200 dark:text-gray-900;
          }
        }
      }
    }

    &--secondary {
      & .duk-list {
        @apply flex flex-col space-y-5 space-x-0;
        @apply lg:flex-row lg:flex-1 lg:justify-end lg:mb-0 lg:space-y-0 lg:space-x-5;

        &__item {
          @apply py-0 pl-0 leading-relaxed w-full;
          @apply lg:mb-0 lg:pr-0 lg:w-auto;

          &--active {
            @apply font-semibold;
          }
        }

        &__item-wrapper {
          @apply px-6 pt-4 pb-4;
          @apply lg:px-4 lg:pt-2;
        }
      }
    }

    /* FIXME Temp solution, we need to always show this. */
    &--tertiary {
      @apply hidden;
      @apply lg:mb-3 lg:items-center lg:space-x-5 lg:flex;
    }

    & .duk-list {
      &__item {
        /* @apply py-0 pl-0 leading-relaxed w-full;
        @apply lg:mb-0 lg:pr-0 lg:w-auto; */

        /* & .duk-list__item-wrapper {
          &:is(a):not(.duk-list__item-wrapper--active) {
            @apply opacity-80;
          }
        } */
      }
    }

    &:hover {
      & a {
        @apply opacity-50 transition-all duration-700;
      }

      & a:hover {
        @apply opacity-100 transition-all duration-700;
      }
    }
  }

  &--hidden {
    @apply h-auto;

    & .duk-navbar__navigation,
    & .duk-navbar__wrapper--secondary {
      @apply hidden;
      @apply lg:flex;
    }
  }
}
