.duk-group {
  @apply flex items-center justify-between gap-4 flex-wrap;

  &--grid {
    @apply grid grid-cols-1;
    @apply md:grid-cols-2;
    @apply lg:grid-cols-3;
  }

  &--left {
    @apply justify-start;
  }

  &--center {
    @apply justify-center;
  }

  &--right {
    @apply justify-end;
  }

  &--around {
    @apply justify-around;
  }

  &--between {
    @apply justify-between;
  }

  &--evenly {
    @apply justify-evenly;
  }

  &--heading {
    @apply flex-grow;
  }

  &--content {
    @apply py-5;

    &:not(:first-child) {
      @apply pt-0;
    }
  }

  &--form {
    @apply pt-5 px-5;
  }
}
