.duk-text-field {
  @apply rounded outline-none text-sm px-4 py-1 bg-white text-gray-900 border border-gray-900;
  @apply dark:bg-gray-800 dark:text-gray-100 dark:border dark:border-gray-100;

  min-height: 30px;

  &--success {
    @apply border-green-600 text-green-900;
    @apply dark:border-green-400 text-green-500;
  }

  &--warning {
    @apply border-yellow-600 text-yellow-900;
    @apply dark:border-yellow-400 text-yellow-500;
  }

  &--danger {
    @apply border-red-600 text-red-900;
    @apply dark:border-red-400 text-red-500;
  }

  &::placeholder {
    @apply text-gray-500;
    @apply dark:text-gray-500;
  }

  &:disabled {
    @apply cursor-not-allowed;

    &::placeholder {
      @apply opacity-50;
    }
  }
}
