.wallet-options {
  &__heading {
    @apply !mb-12 !hidden;
    @apply sm:!flex;
    > h2 {
      @apply sm:text-center sm:flex-grow;
    }
  }

  &__heading-icon {
    @screen sm {
      display: none !important;
    }
  }

  &__heading--mobile {
    @apply !mb-12 justify-center;
    @apply sm:!hidden;
  }

  &__option-group {
    @apply grid grid-cols-1 gap-12 text-center;
    @apply sm:gap-8 sm:px-32;
    @apply md:grid-cols-2 md:text-left md:mb-11;
    @apply lg:grid-cols-2;
    @apply xl:grid-cols-4;
  }

  &__option-card {
    @apply !shadow-marketing;
  }

  &__option-icon {
    @apply mx-auto;
  }

  &__option-heading {
    @apply !mt-10 !mb-0;
    > strong {
      @apply text-center flex-grow;
    }

    &--disabled {
      > strong {
        @apply text-right;
      }
    }

    &--disabled-mobile {
      @apply !justify-center;
      @apply sm:!justify-start;
    }
  }
}
