.env
.DS_Store
.pnpm-debug.log
.vscode/
.svelte/
.svelte-kit/
node_modules/
build/
storybook-static
build-storybook.log
/packages/**/pnpm-lock.yaml
/meta/**/pnpm-lock.yaml
/storybook/**/pnpm-lock.yaml

