.env
.DS_Store
.pnpm-debug.log
.pnpm-debug.log
.jest-test-results.json
versions.json
.vscode/
.svelte/
.svelte-kit/
node_modules/
build/
storybook-static/
build-storybook.log
/packages/**/pnpm-lock.yaml
/meta/**/pnpm-lock.yaml
/storybook/**/pnpm-lock.yaml
/docs/**/pnpm-lock.yaml
coverage/
