.duk-button__group {
  @apply text-center;
}

.duk-button {
  @apply inline-block border border-solid rounded text-sm py-2 px-4 relative overflow-hidden;

  &__icon {
    @apply inline-block align-middle pr-2;
  }

  &__label {
    @apply inline-block align-middle;
  }

  &--brand {
    @apply bg-purple-500 text-white border-none;

    &:hover {
      @apply bg-purple-900 text-white;
    }

    &.duk-button--outline {
      @apply bg-transparent text-white border-white;
    }
  }

  &--cta {
    @apply bg-orange-500 border-none text-white;

    &:hover {
      @apply bg-orange-900 text-white;
    }

    &.duk-button--outline {
      @apply bg-transparent text-white border-white;
    }
  }

  &--info {
    @apply bg-purple-300 border-none text-white;

    &:hover {
      @apply bg-purple-500 text-white;
    }

    &.duk-button--outline {
      @apply bg-transparent text-white border-white;
    }
  }

  &--success {
    @apply bg-green-500 border-none text-white;

    &:hover {
      @apply bg-green-900 text-white;
    }

    &.duk-button--outline {
      @apply bg-transparent text-white border-white;
    }
  }

  &--warning {
    @apply bg-yellow-900 border-none text-gray-900;

    &:hover {
      @apply bg-yellow-500 border-none text-gray-900;
    }

    &.duk-button--outline {
      @apply bg-transparent text-white border-white;
    }
  }

  &--danger {
    @apply bg-red-500 border-none text-white;

    &:hover {
      @apply bg-red-900 text-white;
    }

    &.duk-button--outline {
      @apply bg-transparent text-white border-white;
    }
  }

  &--light {
    @apply bg-gray-200 border-gray-200 text-gray-900;

    &:hover {
      @apply bg-gray-600 text-white;
    }

    &.duk-button--outline {
      @apply bg-transparent text-gray-200;
    }
  }

  &--dark {
    @apply bg-gray-900 border-gray-900 text-gray-200;

    &:hover {
      @apply bg-gray-500 text-white;
    }

    &.duk-button--outline {
      @apply bg-transparent text-gray-900;
    }
  }

  &--black {
    @apply bg-black border-black text-white;

    &.duk-button--outline {
      @apply bg-transparent text-black;
    }
  }

  &--white {
    @apply bg-white border-white text-black;

    &.duk-button--outline {
      @apply bg-transparent text-black;
    }
  }

  &--large {
    @apply text-lg py-3 px-5;
  }

  &--small {
    @apply text-sm;
  }

  &:disabled {
    @apply opacity-75 cursor-not-allowed;
  }
}
