.duk-button__group {
  @apply text-center;
}

.duk-button {
  transition: box-shadow 0.3s ease-in-out;
  @apply inline-block border border-solid rounded text-sm leading-relaxed py-2 px-4 relative overflow-hidden shadow-marketing;

  &__icon {
    @apply inline-block align-middle pr-2;
  }

  &__label {
    @apply inline-block align-middle;
  }

  &--brand {
    @apply bg-indigo-500 text-white border-none;

    &:hover,
    &.active {
      @apply bg-indigo-600 text-white;
    }

    &:hover {
      @apply shadow-marketing-hover;
    }

    &.duk-button--outline {
      @apply bg-transparent text-gray-900 border border-solid border-white;

      &:hover,
      &.active {
        @apply bg-indigo-400 text-white border-indigo-400 shadow-marketing-hover;
      }
    }
  }

  &--cta {
    @apply bg-gold-500 text-gray-900 border-none;

    &:hover,
    &.active {
      @apply bg-gold-400 text-white;
    }

    &:hover {
      @apply shadow-marketing-hover;
    }

    &.duk-button--outline {
      @apply bg-transparent text-gray-900 border border-solid border-white;

      &:hover,
      &.active {
        @apply bg-gold-400 text-gray-900 border-gold-400 shadow-marketing-hover;
      }
    }
  }

  &--info {
    @apply bg-blue-500 text-gray-900 border-none;

    &:hover,
    &.active {
      @apply bg-blue-400 text-gray-900;
    }

    &:hover {
      @apply shadow-marketing-hover;
    }

    &.duk-button--outline {
      @apply bg-transparent text-gray-900 border border-solid border-white;

      &:hover,
      &.active {
        @apply bg-blue-400 text-blue-900 border-blue-400 shadow-marketing-hover;
      }
    }
  }

  &--success {
    @apply bg-green-500 text-gray-900 border-none;

    &:hover,
    &.active {
      @apply bg-green-400 text-gray-900;
    }

    &:hover {
      @apply shadow-marketing-hover;
    }

    &.duk-button--outline {
      @apply bg-transparent text-gray-900 border border-solid border-white;

      &:hover,
      &.active {
        @apply bg-green-400 text-gray-900 border-green-400 shadow-marketing-hover;
      }
    }
  }

  &--warning {
    @apply bg-yellow-900 text-gray-900 border-none;

    &:hover,
    &.active {
      @apply bg-yellow-500 text-gray-900;
    }

    &:hover {
      @apply shadow-marketing-hover;
    }

    &.duk-button--outline {
      @apply bg-transparent text-gray-900 border border-solid border-white;

      &:hover,
      &.active {
        @apply bg-yellow-900 text-gray-900 border-yellow-900 shadow-marketing-hover;
      }
    }
  }

  &--danger {
    @apply bg-red-300 text-gray-900 border-none;

    &:hover,
    &.active {
      @apply bg-red-500 text-black;
    }

    &:hover {
      @apply shadow-marketing-hover;
    }

    &.duk-button--outline {
      @apply bg-transparent text-gray-900 border border-solid border-white;

      &:hover,
      &.active {
        @apply bg-red-400 text-black border-red-400 shadow-marketing-hover;
      }
    }
  }

  &--light {
    @apply bg-gray-200 text-gray-900 border-none;

    &:hover,
    &.active {
      @apply bg-gray-500 text-black;
    }

    &:hover {
      @apply shadow-marketing-hover;
    }

    &.duk-button--outline {
      @apply bg-transparent text-gray-900 border border-solid border-white;

      &:hover,
      &.active {
        @apply bg-gray-400 text-black border-gray-400 shadow-marketing-hover;
      }
    }
  }

  &--dark {
    @apply bg-gray-900 text-gray-200 border-none;

    &:hover,
    &.active {
      @apply bg-gray-600 text-white;
    }

    &:hover {
      @apply shadow-marketing-hover;
    }

    &.duk-button--outline {
      @apply bg-transparent text-gray-800 border border-solid border-white;

      &:hover,
      &.active {
        @apply bg-gray-800 text-white border-gray-800 shadow-marketing-hover;
      }
    }
  }

  &--large {
    @apply text-xl py-3 px-5 leading-loose;
  }

  &--small {
    @apply text-xs rounded-sm leading-tight;
  }

  &:disabled {
    @apply opacity-75 cursor-not-allowed;
  }
}
