.duk-button__group {
  @apply text-center;
}

.duk-button {
  @apply inline-block border border-solid rounded text-sm leading-relaxed py-2 px-4 relative overflow-hidden;

  &__icon {
    @apply inline-block align-middle pr-2;
  }

  &__label {
    @apply inline-block align-middle;
  }

  &--brand {
    @apply bg-purple-500 text-white border-none;

    &:hover,
    &.active {
      @apply bg-purple-900 text-white;
    }

    &.duk-button--outline {
      @apply bg-transparent text-white border border-solid border-white;

      &:hover,
      &.active {
        @apply bg-purple-900 border-purple-900;
      }
    }
  }

  &--cta {
    @apply bg-orange-500 border-none text-white;

    &:hover {
      @apply bg-orange-900 text-white;
    }

    &.duk-button--outline {
      @apply bg-transparent text-white border border-solid border-white;

      &:hover,
      &.active {
        @apply bg-orange-900 border-orange-900;
      }
    }
  }

  &--info {
    @apply bg-purple-300 border-none text-white;

    &:hover,
    &.active {
      @apply bg-purple-500 text-white;
    }

    &.duk-button--outline {
      @apply bg-transparent text-white border border-solid border-white;

      &:hover {
        @apply bg-purple-500 border-purple-500;
      }
    }
  }

  &--success {
    @apply bg-green-500 border-none text-white;

    &:hover,
    &.active {
      @apply bg-green-900 text-white;
    }

    &.duk-button--outline {
      @apply bg-transparent text-white border border-solid border-white;

      &:hover,
      &.active {
        @apply bg-green-900 border-green-900;
      }
    }
  }

  &--warning {
    @apply bg-yellow-900 border-none text-gray-900;

    &:hover,
    &.active {
      @apply bg-yellow-500 border-none text-gray-900;
    }

    &.duk-button--outline {
      @apply bg-transparent text-white border border-solid border-white;

      &:hover,
      &.active {
        @apply bg-yellow-900 border-yellow-900 text-gray-900;
      }
    }
  }

  &--danger {
    @apply bg-red-500 border-none text-white;

    &:hover,
    &.active {
      @apply bg-red-900 text-white;
    }

    &.duk-button--outline {
      @apply bg-transparent text-white border border-solid border-white;

      &:hover,
      &.active {
        @apply bg-red-900 border-red-900;
      }
    }
  }

  &--light {
    @apply bg-gray-200 border-none text-gray-900;

    &:hover,
    &.active {
      @apply bg-gray-600 text-white;
    }

    &.duk-button--outline {
      @apply bg-transparent text-white border border-solid border-white;

      &:hover,
      &.active {
        @apply bg-gray-600 border-gray-600;
      }
    }
  }

  &--dark {
    @apply bg-gray-900 border-none text-gray-200;

    &:hover,
    &.active {
      @apply bg-gray-600 text-white;
    }

    &.duk-button--outline {
      @apply bg-transparent text-white border border-solid border-white;

      &:hover,
      &.active {
        @apply bg-gray-900 border-gray-900;
      }
    }
  }

  &--black {
    @apply bg-black border-none text-white;

    &.duk-button--outline {
      @apply bg-transparent text-black;
    }
  }

  &--white {
    @apply bg-white border-white text-black;

    &.duk-button--outline {
      @apply bg-transparent text-black;
    }
  }

  &--large {
    @apply text-xl py-3 px-5 leading-loose;
  }

  &--small {
    @apply text-xs rounded-sm leading-tight;
  }

  &--marketing {
    @apply shadow-marketing;

    &:hover {
      @apply shadow-marketing-hover;
    }
  }

  &:disabled {
    @apply opacity-75 cursor-not-allowed;
  }
}

.duk-button--marketing.duk-button--brand {
  @apply bg-indigo-500 text-white;
}

.duk-button--marketing.duk-button--cta {
  @apply bg-gold-500 text-gray-900;
}

.duk-button--marketing.duk-button--info {
  @apply bg-blue-500 text-gray-900;
}

.duk-button--marketing.duk-button--danger {
  @apply bg-red-100 text-gray-900;
}
