.duk-button-group {
  @apply flex items-center justify-between gap-4;
}

.duk-button {
  transition: box-shadow 0.3s ease-in-out;
  @apply flex space-x-2 items-center border border-solid rounded-md text-sm leading-relaxed py-2 px-4 relative overflow-hidden shadow-marketing;

  &--brand {
    @apply bg-indigo-500 text-white border-none;

    &:hover,
    &.active {
      @apply bg-indigo-600 text-white;
    }

    &:hover {
      @apply shadow-marketing-hover;
    }

    &.duk-button--outline {
      @apply bg-transparent text-gray-900 border border-solid border-white;
      @apply dark:text-gray-100;

      &:hover,
      &.active {
        @apply bg-indigo-400 text-white border-indigo-400 shadow-marketing-hover;
      }
    }
  }

  &--cta {
    @apply bg-gold-500 text-gray-900 border-none;

    &:hover,
    &.active {
      @apply bg-gold-400 text-white;
    }

    &:hover {
      @apply shadow-marketing-hover;
    }

    &.duk-button--outline {
      @apply bg-transparent text-gray-900 border border-solid border-white;
      @apply dark:text-gray-100;

      &:hover,
      &.active {
        @apply bg-gold-400 text-gray-900 border-gold-400 shadow-marketing-hover;
      }
    }
  }

  &--info {
    @apply bg-blue-500 text-gray-900 border-none;

    &:hover,
    &.active {
      @apply bg-blue-400 text-gray-900;
    }

    &:hover {
      @apply shadow-marketing-hover;
    }

    &.duk-button--outline {
      @apply bg-transparent text-gray-900 border border-solid border-white;
      @apply dark:text-gray-100;

      &:hover,
      &.active {
        @apply bg-blue-400 text-blue-900 border-blue-400 shadow-marketing-hover;
      }
    }
  }

  &--success {
    @apply bg-green-500 text-gray-900 border-none;

    &:hover,
    &.active {
      @apply bg-green-400 text-gray-900;
    }

    &:hover {
      @apply shadow-marketing-hover;
    }

    &.duk-button--outline {
      @apply bg-transparent text-gray-900 border border-solid border-white;
      @apply dark:text-gray-100;

      &:hover,
      &.active {
        @apply bg-green-400 text-gray-900 border-green-400 shadow-marketing-hover;
      }
    }
  }

  &--warning {
    @apply bg-yellow-900 text-gray-900 border-none;

    &:hover,
    &.active {
      @apply bg-yellow-500 text-gray-900;
      @apply dark:text-gray-100;
    }

    &:hover {
      @apply shadow-marketing-hover;
    }

    &.duk-button--outline {
      @apply bg-transparent text-gray-900 border border-solid border-white;
      @apply dark:text-gray-100;

      &:hover,
      &.active {
        @apply bg-yellow-900 text-gray-900 border-yellow-900 shadow-marketing-hover;
      }
    }
  }

  &--danger {
    @apply bg-red-300 text-gray-900 border-none;

    &:hover,
    &.active {
      @apply bg-red-500 text-black;
    }

    &:hover {
      @apply shadow-marketing-hover;
    }

    &.duk-button--outline {
      @apply bg-transparent text-gray-900 border border-solid border-white;
      @apply dark:text-gray-100;

      &:hover,
      &.active {
        @apply bg-red-400 text-black border-red-400 shadow-marketing-hover;
      }
    }
  }

  &--large {
    @apply text-xl py-3 px-5 leading-loose;
  }

  &--small {
    @apply text-xs rounded-sm leading-tight;
  }

  &--circle {
    @apply rounded-full p-3;
  }

  &:disabled {
    @apply opacity-75 cursor-not-allowed;
  }
}
