.duk-drawer {
  &__header {
    @apply hidden px-5;

    & > .duk-logo svg {
      @apply fill-current;
    }

    @screen sm {
      @apply flex flex-wrap items-center justify-center mb-8;
    }
  }

  @screen sm {
    @apply pt-8 pb-5 flex flex-col;
  }

  &__content {
    @apply flex flex-row w-screen;

    & > .duk-drawer__menu {
      @apply flex-1;

      & > .duk-list--menu {
        @apply flex-row;

        & > .duk-list__item {
          @apply flex-1;
        }

        & .duk-list__item__wrapper {
          @apply text-center text-sm leading-relaxed;

          & > .duk-list__icon {
            @apply block p-0 py-4;

            & > svg {
              @apply mx-auto;
            }
          }
        }

        & .duk-list--menu {
          @apply hidden;
        }
      }
    }

    @screen sm {
      @apply flex-col flex-grow justify-between h-full w-auto;

      & > .duk-drawer__menu {
        @apply flex-initial;

        & > .duk-list--menu {
          @apply mt-2 flex-col;

          & > .duk-list__item {
            @apply flex-1;
          }

          & .duk-list__item__wrapper {
            @apply text-left;

            & > .duk-list__icon {
              @apply inline-block pr-1 py-0;

              & > svg {
                @apply m-0;
              }
            }
          }

          & .duk-list--menu {
            @apply flex;
          }
        }
      }
    }
  }

  &--brand {
    @apply bg-purple-600 text-white;

    & a,
    a:hover {
      @apply text-white;
    }

    & > .duk-drawer__content {
      & > .duk-menu--vertical .duk-list--menu .duk-list__item__wrapper--active {
        @apply bg-gray-900 text-yellow-900;
      }
    }
  }

  &--cta {
    @apply bg-orange-500 text-white;

    & a,
    a:hover {
      @apply text-white;
    }

    & > .duk-drawer__content {
      & > .duk-menu--vertical .duk-list--menu .duk-list__item__wrapper--active {
        @apply bg-gray-900 text-yellow-900;
      }
    }
  }

  &--info {
    @apply bg-purple-400 text-white;

    & a,
    a:hover {
      @apply text-white;
    }

    & > .duk-drawer__content {
      & > .duk-menu--vertical .duk-list--menu .duk-list__item__wrapper--active {
        @apply bg-gray-900 text-yellow-900;
      }
    }
  }

  &--success {
    @apply bg-green-500 text-white;

    & a,
    a:hover {
      @apply text-white;
    }

    & > .duk-drawer__content {
      & > .duk-menu--vertical .duk-list--menu .duk-list__item__wrapper--active {
        @apply bg-gray-900 text-green-900;
      }
    }
  }

  &--warning {
    @apply bg-yellow-900 text-gray-900;

    & a,
    a:hover {
      @apply text-gray-900;
    }

    & > .duk-drawer__content {
      & > .duk-menu--vertical .duk-list--menu .duk-list__item__wrapper--active {
        @apply bg-gray-900 text-yellow-900;
      }
    }
  }

  &--danger {
    @apply bg-red-500 text-white;

    & a,
    a:hover {
      @apply text-white;
    }

    & > .duk-drawer__content {
      & > .duk-menu--vertical .duk-list--menu .duk-list__item__wrapper--active {
        @apply bg-gray-900 text-red-900;
      }
    }
  }

  &--white {
    @apply bg-white text-black;

    & a,
    a:hover {
      @apply text-black;
    }

    & > .duk-drawer__content {
      & > .duk-menu--vertical .duk-list--menu .duk-list__item__wrapper--active {
        @apply bg-black text-white;
      }
    }
  }

  &--light {
    @apply bg-gray-200 text-gray-900;

    & a,
    a:hover {
      @apply text-gray-900;
    }

    & > .duk-drawer__content {
      & > .duk-menu--vertical .duk-list--menu .duk-list__item__wrapper--active {
        @apply bg-gray-900 text-gray-200;
      }
    }
  }

  &--dark {
    @apply bg-gray-800 text-gray-200;

    & a,
    a:hover {
      @apply text-gray-200;
    }

    & > .duk-drawer__content {
      & > .duk-menu--vertical .duk-list--menu .duk-list__item__wrapper--active {
        @apply bg-gray-200 text-gray-900;
      }
    }
  }

  &--black {
    @apply bg-black text-white;

    & a,
    a:hover {
      @apply text-white;
    }

    & > .duk-drawer__content {
      & > .duk-menu--vertical .duk-list--menu .duk-list__item__wrapper--active {
        @apply bg-white text-black;
      }
    }
  }
}
