.duk-drawer {
  @apply pt-8 pb-5 w-56 h-full;

  &__header {
    @apply flex flex-wrap items-center justify-center mb-8;

    & > .duk-logo svg {
      @apply fill-current;
    }
  }

  &__content {
    @apply flex flex-col justify-between h-full;

    & > .duk-menu--vertical .duk-list--menu .duk-list__item__wrapper {
      @apply text-sm leading-relaxed pl-5;

      & .duk-list--menu {
        @apply mt-2;

        & .duk-list__item__wrapper {
          @apply pl-3 pr-0 pt-0 pb-2;
        }
      }
    }
  }

  &--brand {
    @apply bg-purple-600 text-white;

    & a,
    a:hover {
      @apply text-white;
    }

    & > .duk-drawer__content {
      & > .duk-menu--vertical .duk-list--menu .duk-list__item__wrapper--active {
        @apply bg-gray-900 text-yellow-900;
      }
    }
  }

  &--cta {
    @apply bg-orange-500 text-white;

    & a,
    a:hover {
      @apply text-white;
    }

    & > .duk-drawer__content {
      & > .duk-menu--vertical .duk-list--menu .duk-list__item__wrapper--active {
        @apply bg-gray-900 text-yellow-900;
      }
    }
  }

  &--info {
    @apply bg-purple-400 text-white;

    & a,
    a:hover {
      @apply text-white;
    }

    & > .duk-drawer__content {
      & > .duk-menu--vertical .duk-list--menu .duk-list__item__wrapper--active {
        @apply bg-gray-900 text-yellow-900;
      }
    }
  }

  &--success {
    @apply bg-green-500 text-white;

    & a,
    a:hover {
      @apply text-white;
    }

    & > .duk-drawer__content {
      & > .duk-menu--vertical .duk-list--menu .duk-list__item__wrapper--active {
        @apply bg-gray-900 text-green-900;
      }
    }
  }

  &--warning {
    @apply bg-yellow-900 text-gray-900;

    & a,
    a:hover {
      @apply text-gray-900;
    }

    & > .duk-drawer__content {
      & > .duk-menu--vertical .duk-list--menu .duk-list__item__wrapper--active {
        @apply bg-gray-900 text-yellow-900;
      }
    }
  }

  &--danger {
    @apply bg-red-500 text-white;

    & a,
    a:hover {
      @apply text-white;
    }

    & > .duk-drawer__content {
      & > .duk-menu--vertical .duk-list--menu .duk-list__item__wrapper--active {
        @apply bg-gray-900 text-red-900;
      }
    }
  }

  &--white {
    @apply bg-white text-black;

    & a,
    a:hover {
      @apply text-black;
    }

    & > .duk-drawer__content {
      & > .duk-menu--vertical .duk-list--menu .duk-list__item__wrapper--active {
        @apply bg-black text-white;
      }
    }
  }

  &--light {
    @apply bg-gray-200 text-gray-900;

    & a,
    a:hover {
      @apply text-gray-900;
    }

    & > .duk-drawer__content {
      & > .duk-menu--vertical .duk-list--menu .duk-list__item__wrapper--active {
        @apply bg-gray-900 text-gray-200;
      }
    }
  }

  &--dark {
    @apply bg-gray-800 text-gray-200;

    & a,
    a:hover {
      @apply text-gray-200;
    }

    & > .duk-drawer__content {
      & > .duk-menu--vertical .duk-list--menu .duk-list__item__wrapper--active {
        @apply bg-gray-200 text-gray-900;
      }
    }
  }

  &--black {
    @apply bg-black text-white;

    & a,
    a:hover {
      @apply text-white;
    }

    & > .duk-drawer__content {
      & > .duk-menu--vertical .duk-list--menu .duk-list__item__wrapper--active {
        @apply bg-white text-black;
      }
    }
  }
}
