.duk-progress-bar {
  &__wrapper {
    @apply relative rounded-md w-full;
    height: 6px;
    max-height: 6px;
  }

  &__step {
    @apply absolute rounded-md bg-gray-300 bottom-px left-0;
    @apply dark:bg-white;
    height: 4px;
    max-height: 4px;
    transition: width 0.5s;
  }

  &__bar {
    @apply bg-gray-900 rounded-md w-full;
    @apply dark:bg-gray-600;
    height: 6px;
    max-height: 6px;
  }

  &--wizard {
    @apply mb-6;
  }

  &--brand {
    ^&__step {
      @apply bg-indigo-500;
      @apply dark:bg-indigo-600;
    }
  }

  &--cta {
    ^&__step {
      @apply bg-orange-900;
      @apply dark:bg-orange-600;
    }
  }

  &--info {
    ^&__step {
      @apply bg-blue-900;
      @apply dark:bg-blue-600;
    }
  }

  &--success {
    ^&__step {
      @apply bg-green-900;
      @apply dark:bg-green-600;
    }
  }

  &--warning {
    ^&__step {
      @apply bg-yellow-900;
      @apply dark:bg-yellow-600;
    }
  }

  &--danger {
    ^&__step {
      @apply bg-red-900;
      @apply dark:bg-red-600;
    }
  }
}
