@import "../wallet/wallet-access-keystore/styles.css";
@import "../wallet/wallet-access-seed/styles.css";
@import "../wallet/wallet-create-keystore/styles.css";
@import "../wallet/wallet-create-seed/styles.css";
@import "../wallet//wallet-create-options/styles.css";
@import "../wallet/wallet-homepage/styles.css";
