.duk-list {
  @apply list-none;

  &__item-wrapper {
    @apply flex items-center space-x-2;
  }

  &--numbered {
    @apply list-decimal;

    & > .duk-list__item-wrapper {
      @apply overflow-visible;
    }
  }

  &--bulleted {
    @apply list-disc;

    & > .duk-list__item-wrapper {
      @apply overflow-visible;
    }
  }

  &--definition {
    @apply w-full;
    @apply lg:flex lg:flex-wrap lg:text-justify;
    & > .duk-list__key {
      @apply w-full font-semibold;
      @apply lg:w-1/3;
    }
    & > .duk-list__value {
      @apply break-all w-full;
      @apply lg:w-2/3 lg:text-left;
    }
  }

  &--datum {
    &.duk-list--definition {
      @apply flex flex-wrap text-justify;
    }
  }
}
