.duk-table {
  @apply bg-transparent;

  &__title {
    @apply flex items-start justify-between py-2 px-5 mb-3 bg-white shadow-table rounded-tl-xl rounded-tr-xl rounded-bl-md rounded-br-md;
    @apply dark:bg-gray-700 dark:text-gray-100;

    & h1,
    & h2,
    & h3,
    & h4 {
      @apply text-xl text-indigo-500 flex items-center space-x-4;
      @apply dark:text-gray-100;
    }
  }

  &__wrapper {
    @apply overflow-auto rounded-md shadow-table;
  }

  &__table {
    @apply w-full flex flex-row flex-nowrap shadow-table bg-white border-collapse;
    @apply dark:bg-gray-700;

    & thead,
    & tbody,
    & tfoot,
    tr,
    th {
      @apply text-left;
    }

    tr {
      @apply flex flex-col flex-nowrap text-right;
    }

    td,
    th {
      @apply py-3 px-6;
    }

    & thead {
      & tr {
        &:nth-child(2n) {
          @apply bg-gray-100;
          @apply dark:bg-gray-800;
        }
      }
      & th {
        @apply font-light;
      }
    }

    & tbody {
      @apply flex-1;
      & tr {
        &:nth-child(4n-1) {
          @apply bg-gray-100;
          @apply dark:bg-gray-800;
        }
        &.duk-table__row--active {
          & > .duk-table__datum--extra-information {
            @apply flex;
          }
        }
        &.duk-table__row--has-extra-information + .duk-table__row {
          &:nth-child(4n) {
            @apply bg-gray-100;
            @apply dark:bg-gray-800;
          }
        }
      }

      & td {
        & a {
          @apply text-indigo-500;
          @apply dark:text-indigo-200;
        }

        &.duk-table__datum--extra-information {
          @apply hidden;
        }
      }
    }

    &--sm {
      & {
        @apply sm:inline-table;

        tr {
          @apply sm:table-row sm:text-left;
        }
      }

      & thead {
        @apply sm:bg-gray-200;
        @apply dark:sm:bg-gray-800;

        & tr {
          &:not(:first-child) {
            @apply sm:hidden;
          }

          &.duk-table__row--hidden {
            @apply flex;
          }
        }

        & th {
          &.duk-table__datum--hidden {
            @apply sm:hidden;
          }
        }
      }

      & tbody {
        @apply sm:flex-none;

        & .duk-table__row {
          &--hidden {
            @apply sm:hidden;
          }

          &--active {
            @apply border-indigo-500 sm:table-row;
          }

          &--has-extra-information {
            @apply sm:cursor-row-resize;
          }
        }
      }
    }

    &--md {
      & {
        @apply md:inline-table;

        tr {
          @apply md:table-row md:text-left;
        }
      }

      & thead {
        @apply md:bg-gray-200;
        @apply dark:md:bg-gray-800;

        & tr {
          &:not(:first-child) {
            @apply md:hidden;
          }
        }

        & th {
          &.duk-table__datum--hidden {
            @apply md:hidden;
          }
        }
      }

      & tbody {
        @apply md:flex-none;

        & .duk-table__row {
          &--hidden {
            @apply md:hidden;
          }

          &--active {
            @apply border-indigo-500 md:table-row;
          }

          &--has-extra-information {
            @apply md:cursor-row-resize;
          }
        }
      }
    }

    &--lg {
      & {
        @apply lg:inline-table;

        tr {
          @apply lg:table-row lg:text-left;
        }
      }

      & thead {
        @apply lg:bg-gray-200;
        @apply dark:lg:bg-gray-800;

        & tr {
          &:not(:first-child) {
            @apply lg:hidden;
          }
        }

        & th {
          &.duk-table__datum--hidden {
            @apply lg:hidden;
          }
        }
      }

      & tbody {
        @apply lg:flex-none;

        & .duk-table__row {
          &--hidden {
            @apply lg:hidden;
          }

          &--active {
            @apply border-indigo-500 lg:table-row;
          }

          &--has-extra-information {
            @apply lg:cursor-row-resize;
          }
        }
      }
    }

    &--xl {
      & {
        @apply xl:inline-table;

        tr {
          @apply xl:table-row xl:text-left;
        }
      }

      & thead {
        @apply xl:bg-gray-200;
        @apply dark:xl:bg-gray-800;

        & tr {
          &:not(:first-child) {
            @apply xl:hidden;
          }
        }

        & th {
          &.duk-table__datum--hidden {
            @apply xl:hidden;
          }
        }
      }

      & tbody {
        @apply xl:flex-none;

        & .duk-table__row {
          &--hidden {
            @apply xl:hidden;
          }

          &--active {
            @apply border-indigo-500 xl:table-row;
          }

          &--has-extra-information {
            @apply xl:cursor-row-resize;
          }
        }
      }
    }

    &--xxl {
      & {
        @apply 2xl:inline-table;

        tr {
          @apply 2xl:table-row 2xl:text-left;
        }
      }

      & thead {
        @apply 2xl:bg-gray-200;
        @apply dark:2xl:bg-gray-800;

        & tr {
          &:not(:first-child) {
            @apply 2xl:hidden;
          }
        }

        & th {
          &.duk-table__datum--hidden {
            @apply 2xl:hidden;
          }
        }
      }

      & tbody {
        @apply 2xl:flex-none;

        & .duk-table__row {
          &--hidden {
            @apply 2xl:hidden;
          }

          &--active {
            @apply border-indigo-500 2xl:table-row;
          }

          &--has-extra-information {
            @apply 2xl:cursor-row-resize;
          }
        }
      }
    }
  }

  &__actions {
    @apply flex items-center justify-between py-2 px-5 mt-3 bg-white shadow-table rounded-tl-md rounded-tr-md rounded-bl-xl rounded-br-xl;
    @apply dark:bg-gray-700 dark:text-gray-100;

    min-height: 2.5rem;

    & .duk-button-wrapper,
    & .duk-button-group {
      @apply mx-auto;
    }
  }

  &__datum {
    &--sortable {
      @apply cursor-pointer;
    }

    &--cta {
      @apply text-orange-900;
    }

    &--success {
      @apply text-green-900;
    }

    &--warning {
      @apply text-yellow-900;
    }

    &--danger {
      @apply text-red-900;
    }

    &--actions-icon {
      @apply duration-200 ease-in-out transition-all rotate-0;

      &--open {
        @apply rotate-180;
      }
    }
  }
}
@tailwind base;
