.duk-table {
  @apply bg-transparent;
  &__title {
    @apply flex items-start justify-between py-2 px-5 mb-3 bg-white shadow-table rounded-tl-xl rounded-tr-xl rounded-bl-md rounded-br-md;
    @apply dark:bg-gray-700 dark:text-gray-100;

    & h1,
    & h2,
    & h3,
    & h4 {
      @apply text-xl text-indigo-500 flex items-center space-x-4;
      @apply dark:text-gray-100;
    }
  }
  &__table {
    @apply block shadow-table bg-white rounded-md;
    @apply dark:bg-gray-700;
    & thead,
    & tbody,
    & tfoot,
    tr,
    td,
    th {
      @apply block text-left;
    }

    tr {
      @apply grid grid-cols-12;
    }

    td,
    th {
      @apply py-3 px-6;
    }

    & thead {
      @apply bg-gray-200;
      @apply dark:bg-indigo-900;

      & tr {
        &:not(:first-child) {
          @apply hidden;
        }
      }
      & th {
        @apply flex items-center space-x-3 font-light;

        &.duk-table__datum--hidden {
          @apply hidden;
        }
      }
    }

    & tbody {
      & tr {
        &:nth-child(odd) {
          @apply bg-gray-100;
          @apply dark:bg-gray-800;
        }
        &.duk-table__row--active {
          & > .duk-table__datum--extra-information {
            @apply flex;
          }
        }
      }

      & td {
        @apply flex items-center space-x-3;

        &.duk-table__datum--extra-information {
          @apply hidden;
        }
      }
    }
  }
  &__actions {
    @apply flex items-center justify-between py-2 px-5 mt-3 bg-white shadow-table rounded-tl-md rounded-tr-md rounded-bl-xl rounded-br-xl;
    @apply dark:bg-gray-700 dark:text-gray-100;

    & .duk-button-wrapper {
      @apply mx-auto;
    }
  }

  &__row {
    @apply border border-transparent;

    &--has-extra-information {
      @apply cursor-row-resize;
    }

    &--active {
      @apply border-indigo-500;
    }
  }

  &__datum {
    /* FIXME These styles should be covered under LoadingIndicator and Icon with context styles! */
    & .duk-loading-indicator,
    & .duk-icon {
      @apply w-6;
    }

    &--sortable {
      @apply cursor-pointer;
    }

    &--cta {
      @apply text-orange-900;
    }

    &--success {
      @apply text-green-900;
    }

    &--warning {
      @apply text-yellow-900;
    }

    &--danger {
      @apply text-red-900;
    }

    &--cols-1 {
      @apply col-span-1;
    }

    &--cols-2 {
      @apply col-span-2;
    }

    &--cols-3 {
      @apply col-span-3;
    }

    &--cols-4 {
      @apply col-span-4;
    }

    &--cols-5 {
      @apply col-span-5;
    }

    &--cols-6 {
      @apply col-span-6;
    }

    &--cols-7 {
      @apply col-span-7;
    }

    &--cols-8 {
      @apply col-span-8;
    }

    &--cols-9 {
      @apply col-span-9;
    }

    &--cols-10 {
      @apply col-span-10;
    }

    &--cols-11 {
      @apply col-span-11;
    }

    &--cols-12 {
      @apply col-span-12;
    }
  }
}
