.duk-chart {
  @apply relative w-full h-full overflow-hidden;

  svg {
    @apply pointer-events-auto;
  }

  &__tooltip {
    @apply absolute pointer-events-none bg-indigo-100/75 z-20 rounded-lg p-4;
    transition: left 250ms ease-out, top 250ms ease-out;

    &--arrow-left {
      @apply w-6 overflow-hidden inline-block absolute -translate-y-2/4 top-1/2;
      left: -22px;
    }

    &--arrow-left-interior {
      @apply h-12 bg-indigo-100/75 origin-top-right -rotate-45;
    }

    &--arrow-right {
      @apply w-6 overflow-hidden inline-block absolute -translate-y-2/4 top-1/2;
      right: -22px;
    }

    &--arrow-right-interior {
      @apply h-12 bg-indigo-100/75 origin-top-left rotate-45;
    }

    &--text {
      @apply text-base font-normal;
    }
  }
}

.duk-chart-world-map {
  /* @apply overflow-hidden; */

  &__background-dot {
    @apply stroke-0 fill-current text-gray-400;
  }

  &__marker-background {
    @apply stroke-1 fill-current text-indigo-300;
    @apply animate-pulse;
    @apply dark:text-indigo-100;
  }

  &__marker-foreground {
    @apply fill-current text-indigo-400;
    @apply dark:text-indigo-200;
  }

  &__marker-text {
    @apply text-xs font-medium leading-none text-gray-100 fill-current;
  }
}

.duk-chart-bar-horizontal {
  @apply rounded bg-gray-100 py-6;
  @apply dark:bg-gray-800;

  &__bar {
    @apply text-indigo-500 fill-current focus:outline-none;
    @apply hover:text-yellow-500 fill-current;
    @apply dark:text-indigo-200;
  }

  &__tooltip {
    @apply -translate-y-2/4 top-1/2;
  }
}

.duk-chart-line {
  @apply rounded bg-gray-100;
  @apply dark:bg-gray-800;

  &__line {
    @apply text-indigo-500 stroke-current stroke-2;
    @apply dark:text-indigo-200;
    fill: none;
  }

  &__dot {
    @apply absolute top-0 bottom-0 pointer-events-none rounded-full w-3 h-3 border-2 border-indigo-500 bg-yellow-500;
    @apply dark:border-indigo-200;
    transition: left 250ms ease-out, top 250ms ease-out;
  }

  &__tooltip {
    @apply -translate-x-2/4 -translate-y-full;
  }

  &__quadtree {
    @apply absolute inset-0;
  }
}

@tailwind base;
