.duk-hero {
  @apply grid overflow-hidden gap-4;
  @apply md:grid-cols-2 md:grid-rows-1 md:gap-6;

  > [slot]:empty {
    @apply hidden;
  }

  > [slot="introduction"],
  > [slot="cta"] {
    @apply md:col-start-1 md:col-end-3;
  }

  > [slot="image"] {
    @apply row-start-2;
    @apply md:row-start-1 md:row-end-3 md:col-start-3;
  }

  &--with-image {
    @apply md:grid-cols-3;
  }

  &--with-cta {
    @apply md:grid-rows-2;
  }
}
