.duk-template-explorer-charts {
  &__map,
  &__market-data,
  &__blockchain-data {
    @apply w-full px-8 mb-6;
    @apply md:mb-12;

    & > .duk-heading {
      @apply pl-6;
    }

    & .duk-card,
    & .duk-table {
      @apply mb-5;
    }
  }
}
