.duk-template-explorer-charts {
  @apply flex flex-wrap;

  &__map,
  &__market-data,
  &__blockchain-data {
    @apply w-full px-8 mb-6;
    @apply md:mb-12;

    & .duk-card,
    & .duk-table {
      @apply mb-5;
    }
  }

  & .duk-heading {
    @apply pl-6;
  }
}
