.duk-template-explorer-homepage {
  &__control-panel {
    @apply mb-6;
  }

  &__latest {
    @apply flex flex-wrap -mx-1;
    @apply md:-mx-8;
  }

  &__latest-blocks,
  &__latest-transactions {
    @apply w-full lg:w-1/2 px-1 mb-6;
    @apply md:mb-12 md:px-8;
  }
}
