.duk-radio {
  @apply inline-block text-xs;

  &__label {
    @apply leading-tight z-50 px-4 py-1 inline-block text-white bg-transparent border border-white rounded;
  }

  &__button {
    @apply hidden;
  }

  &--success {
    & > input:checked + label {
      @apply border-green-500 bg-green-500;
    }
  }

  &--warning {
    & > input:checked + label {
      @apply border-yellow-500 bg-yellow-500 text-gray-900;
    }
  }

  &--danger {
    & > input:checked + label {
      @apply border-red-500 bg-red-500;
    }
  }
}
