.wallet-network {
  @apply px-6 pt-2 pb-5;

  &__connected {
    .header {
      @apply flex justify-between items-center text-xs font-bold text-indigo-500 mb-8;
      @apply sm:mb-6;

      div:nth-child(2) {
        @apply cursor-pointer;
      }

      &__heading {
        h4 {
          @apply text-indigo-500 text-xl font-normal;
          @apply dark:text-indigo-200;
        }
        &--text-first {
          @apply !mb-0;
        }

        &--text-second {
          @apply text-xs font-bold text-indigo-500;
          @apply dark:text-white;
        }
      }
    }

    &--block {
      @apply flex flex-col justify-between;
      @apply sm:flex-row;

      div:last-child {
        @apply mt-4 text-right;
        @apply sm:mt-0;
      }
    }
  }

  &__custom {
    div:first-child {
      p {
        @apply inline-block text-lg font-bold ml-3;
        @apply sm:text-xs sm:text-indigo-500 sm:uppercase;
      }
    }

    .disclaimer {
      @apply border border-red-900 rounded p-3 mt-8 mb-3;
      @apply sm:my-3;

      p {
        @apply text-xs font-normal;
      }
    }

    .custom-network {
      @apply rounded bg-indigo-100 px-5 pt-5;

      :global(&__input::placeholder) {
        @apply text-sm font-light;
      }
    }

    .save {
      @apply hidden mt-6 mb-5;
      @apply sm:block;
    }

    .save-mobile {
      @apply flex justify-center mt-3;
      @apply sm:hidden;
    }
  }
}
