.duk-card {
  @apply border border-solid rounded shadow;
  &__actions {
    @apply py-3 px-4;
  }
  &__content,
  &__title {
    @apply p-4;
  }
  &--brand {
    @apply bg-purple-200 border-purple-200 text-white;
  }
  &--cta {
    @apply bg-orange-200 border-orange-200 text-white;
  }
  &--info {
    @apply bg-purple-200 border-purple-200 text-white;
  }
  &--success {
    @apply bg-green-200 border-green-200 text-white;
  }
  &--warning {
    @apply bg-yellow-200 border-yellow-200 text-white;
  }
  &--danger {
    @apply bg-red-200 border-red-200 text-white;
  }
  &--light {
    @apply bg-gray-200 border-gray-200 text-gray-800;
  }
  &--dark {
    @apply bg-gray-800 border-gray-800 text-gray-200;
  }
  &--black {
    @apply bg-black border-black text-white;
  }
  &--white {
    @apply bg-white border-white text-black;
  }
}
