.duk-card {
  @apply bg-white text-gray-900 rounded-xl shadow-card;
  @apply dark:bg-gray-700 dark:text-gray-100;

  &__actions {
    @apply flex items-center justify-end py-5 px-6;
  }

  &__title {
    @apply flex items-start justify-between pt-5 px-6;

    & h1,
    & h2,
    & h3,
    & h4 {
      @apply text-xl text-indigo-500 flex items-center space-x-4 mb-5;
      @apply dark:text-gray-100;
    }
  }

  &__footer {
    @apply flex flex-col text-xs px-6 py-2 leading-tight font-light;
    @apply sm:flex-row sm:items-center sm:justify-between;

    & p {
      @apply mb-0;
    }
  }

  &__content {
    @apply font-light py-5 px-6;
  }

  &--brand {
    @apply bg-indigo-500 text-white;
    @apply dark:bg-indigo-500 dark:text-white;

    & > .duk-card__title {
      & h1,
      & h2,
      & h3,
      & h4 {
        @apply text-white;
        @apply dark:text-white;
      }
    }
  }

  &--cta {
    @apply bg-gold-500 text-gray-900;
    @apply dark:bg-gold-500 dark:text-gray-900;

    & > .duk-card__title {
      & h1,
      & h2,
      & h3,
      & h4 {
        @apply text-gray-900;
        @apply dark:text-gray-900;
      }
    }
  }

  &--info {
    @apply bg-blue-500 text-gray-900;
    @apply dark:bg-blue-500 dark:text-gray-900;

    & > .duk-card__title {
      & h1,
      & h2,
      & h3,
      & h4 {
        @apply text-gray-900;
        @apply dark:text-gray-900;
      }
    }
  }

  &--success {
    @apply bg-green-500 text-gray-900;
    @apply dark:bg-green-500 dark:text-gray-900;

    & > .duk-card__title {
      & h1,
      & h2,
      & h3,
      & h4 {
        @apply text-gray-900;
        @apply dark:text-gray-900;
      }
    }
  }

  &--warning {
    @apply bg-yellow-500 text-gray-900;
    @apply dark:bg-yellow-500 dark:text-gray-900;

    & > .duk-card__title {
      & h1,
      & h2,
      & h3,
      & h4 {
        @apply text-gray-900;
        @apply dark:text-gray-900;
      }
    }
  }

  &--danger {
    @apply bg-red-500 text-gray-100;
    @apply dark:bg-red-900 dark:text-gray-900;

    & > .duk-card__title {
      & h1,
      & h2,
      & h3,
      & h4 {
        @apply text-gray-100;
        @apply dark:text-gray-100;
      }
    }
  }

  &--disabled {
    & .duk-card__title,
    & .duk-card__content,
    & .duk-card__actions {
      @apply opacity-50;
    }
  }
}
