.duk-card {
  @apply rounded shadow-marketing px-5 py-3;

  &__actions {
    @apply flex items-center pt-2;
  }

  &__title {
    @apply flex items-center justify-between pb-2 text-xl;

    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
      @apply text-xl font-normal;
    }
  }

  &__footer {
    @apply flex items-center justify-between text-xs pt-2;

    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
      @apply text-xs leading-tight font-light;
    }

    & p {
      @apply mb-0;
    }
  }

  &__content {
    @apply font-light;

    & p:last-child {
      @apply m-0;
    }
  }

  &--small {
    @apply rounded-sm px-2 py-1 text-xs;

    & .duk-card__title {
      @apply pb-0 text-sm;

      & > h1,
      & > h2,
      & > h3,
      & > h4,
      & > h5,
      & > h6 {
        @apply text-sm font-normal;
      }
    }
  }

  &--large {
    @apply rounded-lg px-8 py-5;
  }

  &--brand {
    @apply bg-indigo-500 text-white;
  }

  &--cta {
    @apply bg-gold-500 text-gray-900;
  }

  &--info {
    @apply bg-blue-500 text-gray-900;
  }

  &--success {
    @apply bg-green-500 text-white;
  }

  &--warning {
    @apply bg-yellow-500 text-gray-900;
  }

  &--danger {
    @apply bg-red-900 text-gray-100;
  }

  &--light {
    @apply bg-gray-200 text-gray-800;
  }

  &--dark {
    @apply bg-gray-800 text-gray-200;
  }

  &--black {
    @apply bg-black text-white;
  }

  &--white {
    @apply bg-white text-black;
  }
}
