.duk-card {
  @apply rounded shadow-marketing;

  &__actions {
    @apply flex items-center py-4 px-6;
  }

  &__title {
    @apply flex items-center justify-between py-4 px-6 text-sm rounded-tl rounded-tr font-semibold;
  }

  &__footer {
    @apply flex items-center justify-between text-xs pt-2 px-6 pb-3 leading-tight font-light;

    & p {
      @apply mb-0;
    }
  }

  &__content {
    @apply font-light px-6 py-6;

    & p:last-child {
      @apply m-0;
    }
  }

  &--small {
    @apply rounded-sm text-xs;

    & > .duk-card__title {
      @apply rounded-tr-sm rounded-tl-sm py-3 px-5 text-xs font-medium;
    }

    & > .duk-card__content {
      @apply font-light px-5 py-3;
    }

    & > .duk-card__actions {
      @apply flex items-center py-3 px-5;
    }
  }

  &--large {
    @apply rounded-sm text-lg;

    & > .duk-card__title {
      @apply py-3 px-5 text-base font-semibold;
    }

    & > .duk-card__content {
      @apply font-light px-5 py-3;
    }

    & > .duk-card__actions {
      @apply flex items-center px-5 py-3;
    }
  }

  &--brand {
    @apply bg-indigo-500 text-white;
  }

  &--cta {
    @apply bg-gold-500 text-gray-900;
  }

  &--info {
    @apply bg-blue-500 text-gray-900;
  }

  &--success {
    @apply bg-green-500 text-white;
  }

  &--warning {
    @apply bg-yellow-500 text-gray-900;
  }

  &--danger {
    @apply bg-red-900 text-gray-100;
  }

  &--light {
    @apply bg-gray-200 text-gray-800;
  }

  &--dark {
    @apply bg-gray-800 text-gray-200;
  }

  &--black {
    @apply bg-black text-white;

    & > .duk-card__title {
      @apply bg-gray-800;
    }
  }

  &--white {
    @apply bg-white text-black;

    & > .duk-card__title {
      @apply bg-gray-200;
    }
  }
}
