.duk-footer {
  @apply w-screen mt-5 py-20 text-white bg-indigo-600;
  @apply dark:bg-black;
  @apply sm:mt-12;
  @apply lg:mt-32;
  @apply xl:mt-40;
  @apply 2xl:mt-48;

  & a {
    @apply text-white;
  }

  &__logo {
    @apply p-0 transform duration-200 ease-in-out transition-all flex items-center justify-center;
    @apply md:justify-start;

    &:hover {
      @apply scale-105;
    }

    & > svg {
      @apply w-40;
    }
  }

  &__title {
    @apply text-lg mb-4;
  }

  &__copyright {
    @apply block text-sm text-center mt-4;
    @apply sm:inline-block sm:text-left sm:mt-0 sm:mx-4 sm:py-2 sm:pl-4;
  }

  &__legal-menu {
    @apply text-sm;
  }

  &__social-media-menu {
    @apply inline-flex mt-4 justify-center;
    @apply sm:ml-auto sm:mt-0 sm:justify-start;

    &__item {
      &:not(:last-child) {
        @apply pr-3;
      }

      & .duk-icon {
        @apply p-0 transform duration-200 ease-in-out transition-all;

        &:hover {
          @apply rotate-360;
        }
      }
    }
  }

  &__category-menu {
    &:not(:last-child) {
      @apply pr-5;
    }

    &__item > .duk-list__item__wrapper {
      @apply p-0 mb-4;
    }
  }

  &__maximal {
    @apply px-5 py-8 mx-auto flex items-start justify-between flex-col;
    @apply sm:flex-row;
  }

  &__minimal {
    @apply px-5 py-8 mx-auto flex items-center flex-col;
    @apply sm:flex-row;
  }
}
