.duk-footer {
  @apply w-screen px-10 mt-32 py-20 text-white bg-indigo-600;
  @apply lg:px-20 lg:mt-40;
  @apply 2xl:mt-48;
  @apply dark:bg-black;

  & > * {
    @apply mx-auto flex flex-col;
    @apply lg:flex-row;
  }

  &__maximal {
    @apply items-start justify-between;
  }

  &__minimal {
    @apply items-center space-y-10;
    @apply lg:space-y-0 lg:space-x-10;
  }

  & a {
    @apply text-white underline;
  }

  &__title {
    @apply text-lg mb-4;
  }

  &__copyright {
    @apply text-sm text-center;
    @apply lg:text-left;
  }

  &__legal-menu {
    @apply text-sm;
  }

  &__social-media-menu {
    @apply inline-flex justify-center items-center;

    @screen lg {
      margin-left: auto !important;
    }

    & > .duk-menu__list {
      @apply lg:space-x-3;
    }

    & .duk-icon {
      @apply p-0 transform duration-200 ease-in-out transition-all;

      &:hover {
        @apply rotate-360;
      }
    }
  }

  &__category-menu {
    &:not(:last-child) {
      @apply pr-5;
    }

    &__item > .duk-menu__item-wrapper {
      @apply p-0 mb-4;
    }
  }

  &__newsletter {
    @apply block;
  }
}
