.duk-button-wrapper {
  @apply flex items-center gap-4;
  @apply sm:gap-6;
}

.duk-button-label {
  @apply text-indigo-500 font-semibold hover:cursor-pointer;
  @apply sm:text-lg;
  @apply dark:text-indigo-100;

  &--small {
    @apply text-sm;
    @apply sm:text-base;
  }

  &--hero,
  &--large {
    @apply text-xl;
    @apply sm:text-2xl;
  }
}

.duk-button {
  @apply transition transition-all duration-300 ease-in-out flex space-x-2 items-center border border-solid rounded-md text-sm leading-relaxed py-2 px-4 relative overflow-hidden;

  &--block {
    @apply w-full;
  }

  &--brand {
    @apply bg-indigo-500 text-white border-none;

    box-shadow: 1px 1px 0px #c1b1ed;

    &:hover:not(:disabled),
    &^&--active {
      @apply bg-indigo-600 text-white;
    }

    &:hover:not(:disabled) {
      box-shadow: 4px 4px 0px #c1b1ed;
    }

    &^&--outline {
      @apply bg-transparent text-gray-900 border border-solid border-white;
      @apply dark:text-gray-100;

      &:hover:not(:disabled),
      &^^&--active {
        @apply bg-indigo-400 text-white border-indigo-400;
      }
    }
  }

  &--hero,
  &--cta {
    @apply bg-gold-500 text-gray-900 border-none;

    box-shadow: 1px 1px 0px #cdb123;

    &:hover:not(:disabled),
    &^&--active {
      @apply bg-gold-400 text-gray-900;
    }

    &:hover:not(:disabled) {
      box-shadow: 4px 4px 4px #cdb123;
    }

    &^&--outline {
      @apply bg-transparent text-gray-900 border border-solid border-white;
      @apply dark:text-gray-100;

      &:hover:not(:disabled),
      &^^&--active {
        @apply bg-gold-400 text-gray-900 border-gold-400;
      }
    }
  }

  &--info {
    @apply bg-blue-500 text-gray-900 border-none;

    box-shadow: 1px 1px 0px #f8fbff;

    &:hover:not(:disabled),
    &^&--active {
      @apply bg-blue-400 text-gray-900;
    }

    &:hover:not(:disabled) {
      box-shadow: 4px 4px 0px #f8fbff;
    }

    &^&--outline {
      @apply bg-transparent text-gray-900 border border-solid border-white;
      @apply dark:text-gray-100;

      &:hover:not(:disabled),
      &^^&--active {
        @apply bg-blue-400 text-blue-900 border-blue-400;
      }
    }
  }

  &--success {
    @apply bg-green-500 text-gray-900 border-none;

    box-shadow: 1px 1px 0px #c1deb6;

    &:hover:not(:disabled),
    &^&--active {
      @apply bg-green-400 text-gray-900;
    }

    &:hover:not(:disabled) {
      box-shadow: 4px 4px 0px #c1deb6;
    }

    &^&--outline {
      @apply bg-transparent text-gray-900 border border-solid border-white;
      @apply dark:text-gray-100;

      &:hover:not(:disabled),
      &^^&--active {
        @apply bg-green-400 text-gray-900 border-green-400;
      }
    }
  }

  &--warning {
    @apply bg-yellow-900 text-gray-900 border-none;

    box-shadow: 1px 1px 0px #e7d36f;

    &:hover:not(:disabled),
    &^&--active {
      @apply bg-yellow-500 text-gray-900;
      @apply dark:text-gray-100;
    }

    &:hover:not(:disabled) {
      box-shadow: 4px 4px 0px #e7d36f;
    }

    &^&--outline {
      @apply bg-transparent text-gray-900 border border-solid border-white;
      @apply dark:text-gray-100;

      &:hover:not(:disabled),
      &^^&--active {
        @apply bg-yellow-900 text-gray-900 border-yellow-900;
      }
    }
  }

  &--danger {
    @apply bg-red-300 text-gray-900 border-none;

    box-shadow: 1px 1px 0px #e496ad;

    &:hover:not(:disabled),
    &^&--active {
      @apply bg-red-500 text-gray-900;
    }

    &:hover:not(:disabled) {
      box-shadow: 4px 4px 0px #e496ad;
    }

    &^&--outline {
      @apply bg-transparent text-gray-900 border border-solid border-white;
      @apply dark:text-gray-100;

      &:hover:not(:disabled),
      &^^&--active {
        @apply bg-red-400 text-black border-red-400;
      }
    }
  }

  &--hero,
  &--large {
    @apply text-xl py-3 px-5 leading-loose;
  }

  &--small {
    @apply text-xs rounded-md leading-tight;
  }

  &--circle {
    @apply rounded-full p-3;

    ^&__label {
      @apply px-4;
    }
  }

  &--hero {
    @apply my-6;
  }

  &--heading {
    @apply p-2;
  }

  &:disabled {
    @apply opacity-75 cursor-not-allowed;

    ~ label {
      @apply line-through opacity-75 cursor-not-allowed;
    }
  }
}
