.duk-toggle-group {
  @apply flex items-center justify-between gap-4;
}

.duk-toggle {
  @apply inline-block;

  &__button,
  &__switch {
    @apply hidden;

    &--inverted {
    }
  }

  & input:checked {
    ~ ^&__switch-track {
      @apply transition-colors;
    }

    ~ ^&__switch-thumb {
      @apply bg-gray-500 translate-x-full;
    }

    ~ ^&__label--button {
      @apply bg-gray-500;
    }
  }

  & input:disabled {
    ~ ^&__switch-thumb {
      @apply bg-gray-100 border-gray-500;
    }
    ~ ^&__switch-track {
      @apply bg-gray-500;
    }
  }

  &__switch-wrapper {
    @apply relative inline-block align-middle rounded-full cursor-pointer select-none bg-transparent;
  }

  &__switch-track {
    @apply block w-20 h-8 bg-white rounded-full shadow-switch;
  }

  &__switch-thumb {
    @apply flex items-center justify-center transition-all duration-300 ease-in-out absolute top-0 left-0 w-8 h-8 bg-gray-800 border-2 border-white rounded-full;

    .duk-icon {
      @apply h-5 w-5 text-white;
    }
  }

  &__label {
    &--button {
      @apply transition transition-shadow duration-300 ease-in-out shadow-marketing hover:shadow-marketing-hover cursor-pointer leading-tight z-50 px-4 py-1 inline-block bg-transparent border border-gray-900 rounded-md;
      @apply dark:text-white dark:border-white;
    }
    &--switch {
      @apply hidden;
    }
    &--checkbox,
    &--radio {
      @apply flex items-center space-x-3;
    }
  }

  &__checkbox {
    @apply flex-shrink-0 appearance-none bg-white h-8 w-8 border border-gray-900 shadow-marketing rounded-md;
    &:checked {
      background-image: url("./icons/checkbox.svg");
    }
  }

  &__radio {
    @apply flex-shrink-0 appearance-none bg-white h-8 w-8 border border-gray-900 shadow-marketing rounded-full;
    &:checked {
      background-image: url("./icons/radio.svg");
    }
  }

  &--brand {
    & input:checked {
      ~ ^^&__switch-thumb,
      ~ ^^&__label--button {
        @apply bg-indigo-500 text-white;
      }
      &.duk-toggle__checkbox {
        background-image: url("./icons/checkbox-brand.svg");
      }
      &.duk-toggle__radio {
        background-image: url("./icons/radio-brand.svg");
      }
    }
  }
  &--brand-invert {
    ^&__switch-thumb {
      @apply bg-indigo-500 text-white;
    }

    & input:checked {
      ~ ^^&__switch-thumb,
      ~ ^^&__label--button {
        @apply bg-gray-900;
      }
    }
  }
  &--cta {
    & input:checked {
      ~ ^^&__switch-thumb,
      ~ ^^&__label--button {
        @apply bg-orange-500;
      }
    }
    &.duk-toggle__checkbox {
      background-image: url("./icons/checkbox-cta.svg");
    }
    &.duk-toggle__radio {
      background-image: url("./icons/radio-cta.svg");
    }
  }
  &--info {
    & input:checked {
      ~ ^^&__switch-thumb,
      ~ ^^&__label--button {
        @apply bg-blue-500;
      }
      &.duk-toggle__checkbox {
        background-image: url("./icons/checkbox-info.svg");
      }
      &.duk-toggle__radio {
        background-image: url("./icons/radio-info.svg");
      }
    }
  }
  &--success {
    & input:checked {
      ~ ^^&__switch-thumb,
      ~ ^^&__label--button {
        @apply bg-green-500;
      }
      &.duk-toggle__checkbox {
        background-image: url("./icons/checkbox-success.svg");
      }
      &.duk-toggle__radio {
        background-image: url("./icons/radio-success.svg");
      }
    }
  }
  &--warning {
    & input:checked {
      ~ ^^&__switch-thumb,
      ~ ^^&__label--button {
        @apply bg-yellow-500;
      }
      &.duk-toggle__checkbox {
        background-image: url("./icons/checkbox-warning.svg");
      }
      &.duk-toggle__radio {
        background-image: url("./icons/radio-warning.svg");
      }
    }
  }
  &--danger {
    & input:checked {
      ~ ^^&__switch-thumb,
      ~ ^^&__label--button {
        @apply bg-red-500;
      }
      &.duk-toggle__checkbox {
        background-image: url("./icons/checkbox-danger.svg");
      }
      &.duk-toggle__radio {
        background-image: url("./icons/radio-danger.svg");
      }
    }
  }
}

@tailwind base;
