.duk-skeleton-loader {
  &__wrapper {
    @apply w-full;
  }

  &__placeholder {
    @apply bg-gray-200 relative overflow-hidden w-full;
    @apply dark:bg-gray-800;
  }

  &--rounded {
    ^&__placeholder {
      @apply rounded-lg;
    }
  }

  &--pulse {
    ^&__placeholder {
      @apply animate-pulse;
    }
  }

  &--loader {
    ^&__placeholder::after {
      @apply absolute top-0 right-0 bottom-0 left-0 bg-gradient-to-l from-transparent via-gray-100;
      @apply dark:bg-gradient-to-l dark:from-transparent dark:via-gray-700;
      transform: translateX(-100%);
      -webkit-animation: shimmer 2s infinite;
      animation: shimmer 2s infinite;
      content: "";
    }

    @keyframes shimmer {
      100% {
        transform: translateX(100%);
      }
    }
  }
}
