.duk-skeleton-loader {
  &__wrapper {
    @apply w-full;
  }

  &__placeholder {
    @apply bg-gray-200 relative overflow-hidden w-full;
    @apply dark:bg-gray-800;
  }

  &--rounded {
    ^&__placeholder {
      @apply rounded-xl;
    }
  }

  &--pulse {
    ^&__placeholder {
      @apply animate-pulse;
    }
  }

  &--loader {
    ^&__placeholder::after {
      @apply absolute top-0 right-0 bottom-0 left-0 bg-gradient-to-l from-transparent via-gray-100 -translate-x-full animate-shimmer;
      @apply dark:bg-gradient-to-l dark:from-transparent dark:via-gray-700;
      content: "";
    }
  }

  @screen xs {
    &__placeholder {
      height: var(--xs-height);
    }
  }

  @screen sm {
    &__placeholder {
      height: var(--sm-height);
    }
  }

  @screen md {
    &__placeholder {
      height: var(--md-height);
    }
  }

  @screen lg {
    &__placeholder {
      height: var(--lg-height);
    }
  }

  @screen xl {
    &__placeholder {
      height: var(--xl-height);
    }
  }

  @screen 2xl {
    &__placeholder {
      height: var(--jumbo-height);
    }
  }
}
