.duk-truncate-text {
  &--quarter {
    max-width: 25%;
  }
  &--one-third {
    max-width: 33.3333%;
  }
  &--half {
    max-width: 50%;
  }
  &--three-quarters {
    max-width: 75%;
  }
  &--max {
    max-width: calc(100% - 1rem);
  }

  &__value {
    @apply block truncate;
  }

  &--datum,
  &--slice {
    ^&__value {
      @apply inline overflow-visible;
    }
  }
}
