@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply text-gray-900 bg-gray-100 font-sans leading-normal tracking-normal text-base font-normal break-words;
}

main {
  @apply flex-grow;
}

#sapper {
  @apply flex flex-col min-h-screen;
}
