.duk-address {
  @apply flex flex-col w-full rounded border border-gray-900 text-gray-900 p-3 break-all my-5;
  @apply dark:border-gray-100 dark:text-gray-100;
  font-family: "IBM Plex Mono", monospace;

  &--brand {
    @apply border-indigo-500 text-indigo-500;
    @apply dark:border-gray-100 dark:text-gray-100;
  }

  &--cta {
    @apply border-gold-500 text-gold-500;
    @apply dark:border-gray-100 dark:text-gray-100;
  }

  &--info {
    @apply border-blue-500 text-blue-500;
    @apply dark:border-gray-100 dark:text-gray-100;
  }

  &--success {
    @apply border-green-500 text-green-500;
    @apply dark:border-gray-100 dark:text-gray-100;
  }

  &--warning {
    @apply border-yellow-500 text-yellow-500;
    @apply dark:border-gray-100 dark:text-gray-100;
  }

  &--danger {
    @apply border-red-300 text-red-300;
    @apply dark:border-gray-100 dark:text-gray-100;
  }
}
