.duk-cta-list {
  @apply flex flex-col gap-y-2.5;

  &--unordered {
    @apply list-none;
    & ^&__item {
      &--content {
        @apply pl-9 mb-20;
      }
    }
  }

  &--ordered {
    @apply list-decimal list-none;
    counter-reset: duk-list-item;

    & ^&__item {
      @apply flex items-center pl-5;
      counter-increment: duk-list-item;

      &:before {
        @apply flex justify-center items-center text-2xl font-bold text-center rounded-full w-16 h-16 mr-6 shadow-marketing;
        content: counter(duk-list-item);
      }
    }

    &^&--brand {
      ^^&__item:before {
        @apply bg-indigo-500 text-white;
      }
    }
    &^&--cta {
      ^^&__item:before {
        @apply bg-gold-500 text-gray-900;
      }
    }
    &^&--info {
      ^^&__item:before {
        @apply bg-blue-500 text-gray-900;
      }
    }
    &^&--success {
      ^^&__item:before {
        @apply bg-green-500 text-gray-900;
      }
    }
    &^&--warning {
      ^^&__item:before {
        @apply bg-yellow-500 text-gray-900;
      }
    }
    &^&--danger {
      ^^&__item:before {
        @apply bg-red-500 text-gray-900;
      }
    }
  }
}
