.duk-drop-down {
  @apply w-64 z-50;

  &__layout {
    @apply relative;
  }

  &__button {
    @apply relative w-full bg-indigo-600 text-white rounded-md shadow-marketing pl-5 pr-10 py-0.5 text-left cursor-pointer;
    @apply sm:text-sm dark:bg-white dark:border border-gray-500 dark:text-gray-900;
  }

  &__selected {
    @apply flex items-center;
  }

  &__selected-label {
    @apply ml-3 block truncate;
  }

  &__button-icon {
    @apply transform duration-200 ease-in-out transition-all rotate-0 ml-3 absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none;

    &--open {
      @apply rotate-180;
    }
  }

  &__options {
    @apply bg-indigo-600 text-white absolute mt-1 w-full z-10 rounded border border-gray-500 shadow-marketing;
    @apply dark:bg-white dark:border-0 dark:text-gray-900;
  }

  &__list {
    @apply rounded-md py-1 text-base overflow-auto;
    @apply sm:text-sm;
  }

  &__item {
    @apply cursor-pointer select-none relative py-2 pl-5 pr-9;
  }

  &__item-layout {
    @apply flex items-center;
  }

  &__item-label {
    @apply ml-3 block font-normal truncate;

    &--selected {
      @apply font-bold;
    }
  }

  &--drop-up {
    & .duk-drop-down__options {
      @apply -top-3 transform -translate-y-full;
    }
  }
}
