.duk-dropdown {
  @apply flex relative bg-gray-100 border border-gray-500 rounded shadow-marketing select-none;

  p {
    @apply text-xs font-normal;
  }

  &__selected {
    @apply px-3 py-0.5;
  }

  &__arrow {
    @apply border-l-2 border-gray-500 cursor-pointer;
    width: 40px;

    img {
      @apply mx-auto mt-2;
    }
  }

  &__arrow--reverse {
    @apply border-gray-500 cursor-pointer;
    width: 40px;

    div {
      @apply mt-2;

      img {
        @apply mx-auto rotate-180;
      }
    }
  }

  &__list {
    @apply hidden absolute shadow-marketing-hover rounded bg-gray-100 cursor-pointer;
    top: -1px;
    left: -1px;

    li {
      @apply text-xs font-normal;
    }
  }

  .dropdown-open {
    @apply flex;
  }
}
