.duk-chip {
  @apply flex justify-center items-center m-1 font-medium py-1 px-2 bg-transparent rounded-full;

  max-width: fit-content;

  &__text {
    @apply text-sm font-normal leading-none max-w-full flex-initial whitespace-nowrap;
  }

  &--brand {
    @apply text-indigo-500 border border-indigo-500;
    @apply dark:text-indigo-200 dark:border-indigo-200;
  }

  &--cta {
    @apply text-orange-500 border border-orange-500;
    @apply dark:text-orange-200 dark:border-orange-200;
  }

  &--info {
    @apply text-blue-500 border border-blue-500;
    @apply dark:text-blue-200 dark:border-blue-200;
  }

  &--success {
    @apply text-green-500 border border-green-500;
    @apply dark:text-green-200 dark:border-green-200;
  }

  &--warning {
    @apply text-yellow-500 border border-yellow-500;
    @apply dark:text-yellow-200 dark:border-yellow-200;
  }

  &--brand {
    @apply text-red-500 border border-red-500;
    @apply dark:text-red-200 dark:border-red-200;
  }
}
