.duk-menu {
  &__list {
    @apply list-none;
  }
  &__item-wrapper {
    @apply flex items-center space-x-2;
  }
  &--vertical {
    ^&__list {
      @apply flex flex-col items-start space-y-3;

      &__item {
        &__wrapper {
          @apply block px-3 py-2 text-left;
        }
      }
    }
  }

  &--horizontal {
    ^&__list {
      @apply flex flex-row items-center justify-center space-x-8;

      &__item {
        &__wrapper {
          @apply inline-block text-center;
        }
      }
    }
  }

  &--navbar {
  }
}
