.duk-menu {
  & > .duk-list--menu {
    & [aria-disabled="true"] {
      @apply opacity-50 cursor-not-allowed;
    }
  }

  &--vertical {
    @apply overflow-y-hidden;

    & .duk-list {
      @apply flex flex-col items-start space-y-3;

      &__item {
        &__wrapper {
          @apply block px-3 py-2 text-left;
        }
      }
    }
  }

  &--horizontal {
    @apply overflow-hidden;

    & .duk-list {
      @apply flex flex-row items-center justify-center space-x-8;

      &__item {
        &__wrapper {
          @apply inline-block text-center;
        }
      }
    }
  }
}

.duk-menu.duk-menu--horizontal.duk-menu--separator-dot {
  & .duk-list {
    @apply space-x-0;
    &__item-wrapper {
      @apply inline-block;
    }
    &__item:not(:last-child) {
      &::after {
        content: "•";
        @apply mx-3 align-middle;
      }
    }
  }
}

.duk-menu.duk-menu--horizontal.duk-menu--separator-dash {
  & .duk-list {
    @apply space-x-0;
    &__item-wrapper {
      @apply inline-block;
    }
    &__item:not(:last-child) {
      &::after {
        content: "-";
        @apply mx-3 align-top;
      }
    }
  }
}

.duk-menu.duk-menu--horizontal.duk-menu--separator-bar {
  & .duk-list {
    @apply space-x-0;
    &__item-wrapper {
      @apply inline-block;
    }
    &__item:not(:last-child) {
      &::after {
        content: "|";
        @apply mx-3 align-top;
      }
    }
  }
}
