.duk-rich-text {
  @apply prose;
  @apply dark:prose-light;
  @apply lg:prose-xl;

  &--small {
    @apply prose-sm;
  }

  &--large {
    @apply prose-lg;
  }

  &--hero,
  &--xl {
    @apply prose-xl;
  }

  &--xxl {
    @apply prose-2xl;
  }

  &--card {
    @apply max-w-full;
    @apply lg:prose lg:max-w-full;
  }
}
