.duk-icon {
  @apply fill-current flex items-center justify-center h-6 w-6;

  &.inline {
    & > svg {
      display: inline;
    }
  }

  &[data-tooltip] {
    position: relative;
    z-index: 2;
    display: block;

    &:before,
    &:after {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transition: 0.2s ease-out;
      transform: translate(-50%, 5px);
    }

    &:before {
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-bottom: 5px;
      padding: 7px;
      width: max-content;
      min-width: 70px;
      max-width: 250px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background-color: #000;
      background-color: hsla(0, 0%, 20%, 0.9);
      color: #fff;
      content: attr(data-tooltip);
      text-align: center;
      font-size: 14px;
      line-height: 1.2;
      transition: 0.2s ease-out;
    }

    &:after {
      position: absolute;
      bottom: 100%;
      left: 50%;
      width: 0;
      border-top: 5px solid #000;
      border-top: 5px solid hsla(0, 0%, 20%, 0.9);
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      content: " ";
      font-size: 0;
      line-height: 0;
    }

    &:hover:before,
    &:hover:after {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }

  &[data-tooltip="false"]:hover:before,
  &[data-tooltip="false"]:hover:after {
    visibility: hidden;
    opacity: 0;
  }

  &--brand {
    @apply !text-purple-500 !fill-current;
  }

  &--cta {
    @apply !text-orange-500 !fill-current;
  }

  &--info {
    @apply text-purple-500 !fill-current;
  }

  &--success {
    @apply !text-green-500 !fill-current;
  }

  &--warning {
    @apply !text-yellow-500 !fill-current;
  }

  &--danger {
    @apply !text-red-500 !fill-current;
  }

  &--extra-small > svg {
    @apply !h-4 !w-4;
  }

  &--small > svg {
    @apply !h-5 !w-5;
  }

  &--large > svg {
    @apply !h-8 !w-8;
  }

  &--xl > svg {
    @apply !h-10 !w-10;
  }

  &--xxl > svg {
    @apply h-12 w-12;
  }

  &--xxxl > svg {
    @apply h-16 w-16;
  }

  &--heading {
    @apply h-auto w-auto;
    & > svg {
      @apply w-auto;
      height: 1.7em; /* Allows icon to scale with heading font size */
    }
  }
}
