.duk-icon {
  @apply fill-current flex items-center justify-center h-6 w-6;

  &.inline {
    & > svg {
      display: inline;
    }
  }

  &[data-tooltip] {
    @apply break-normal;
    position: relative;
    z-index: 2;
    display: block;

    &:before,
    &:after {
      @apply pointer-events-none invisible opacity-0 -translate-x-2/4 -translate-y-1 duration-200 ease-out;
    }

    &:before {
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-bottom: 5px;
      padding: 7px;
      width: max-content;
      min-width: 70px;
      max-width: 250px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background-color: #000;
      background-color: hsla(0, 0%, 20%, 0.9);
      color: #fff;
      content: attr(data-tooltip);
      text-align: center;
      font-size: 14px;
      line-height: 1.2;
      transition: 0.2s ease-out;
    }

    &:after {
      border-top: 5px solid #000;
      border-top: 5px solid hsla(0, 0%, 20%, 0.9);
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      content: " ";
      font-size: 0;
      line-height: 0;
      @apply absolute bottom-full left-2/4 w-0;
    }

    &:hover:before,
    &:hover:after {
      @apply visible opacity-100 -translate-x-2/4;
    }
  }

  &[data-tooltip="false"]:hover:before,
  &[data-tooltip="false"]:hover:after {
    @apply invisible opacity-0;
  }

  &--brand {
    @apply !text-purple-500 !fill-current;
  }

  &--cta {
    @apply !text-orange-500 !fill-current;
  }

  &--info {
    @apply text-purple-500 !fill-current;
  }

  &--success {
    @apply !text-green-500 !fill-current;
  }

  &--warning {
    @apply !text-yellow-500 !fill-current;
  }

  &--danger {
    @apply !text-red-500 !fill-current;
  }

  &--extra-small {
    @apply h-4 w-4;
    > svg {
      @apply !h-4 !w-4;
    }
  }

  &--small {
    @apply h-5 w-5;
    > svg {
      @apply !h-5 !w-5;
    }
  }

  &--large {
    @apply h-8 w-8;
    > svg {
      @apply h-8 w-8;
    }
  }

  &--xl {
    @apply h-10 w-10;
    > svg {
      @apply !h-10 !w-10;
    }
  }

  &--xxl {
    @apply h-12 w-12;
    > svg {
      @apply h-12 w-12;
    }
  }

  &--xxxl {
    @apply h-16 w-16;
    > svg {
      @apply h-16 w-16;
    }
  }

  &--heading {
    @apply h-auto w-auto;
    & > svg {
      @apply w-auto;
      height: 1.7em; /* Allows icon to scale with heading font size */
    }
  }

  &--menu-social {
    @apply p-0 duration-200 ease-in-out transition-all;

    &:hover {
      @apply rotate-360;
    }
  }
}

@tailwind base;
