.duk-detail-list {
  @apply lg:flex lg:flex-wrap;

  a {
    @apply text-indigo-500;
    @apply dark:text-indigo-200;
  }

  &__term,
  &__definition {
    @apply text-center;
    @apply sm:text-left;
  }

  &__term {
    @apply flex items-center space-x-3 justify-center mb-6 w-full font-semibold break-all;
    @apply sm:justify-start;
  }

  &__definition {
    @apply mb-24 break-all w-full;
    @apply sm:mb-6;
    @apply lg:text-left;
  }

  &--50-50 {
    ^&__term {
      @apply lg:w-1/2;
    }
    ^&__definition {
      @apply lg:w-1/2;
    }
  }

  &--25-75 {
    ^&__term {
      @apply lg:w-1/4;
    }
    ^&__definition {
      @apply lg:w-3/4;
    }
  }

  &--75-25 {
    ^&__term {
      @apply lg:w-3/4;
    }
    ^&__definition {
      @apply lg:w-1/4;
    }
  }

  & dt:last-of-type,
  & dd:last-of-type {
    @apply mb-0;
  }

  &--card {
    @apply py-10 px-6 pt-24;
    @apply sm:pt-10;
  }

  &--content {
    @apply py-0 px-0;
  }

  &--search-list {
    @apply flex flex-wrap gap-y-4;

    dt,
    dd {
      @apply mb-0;
    }

    .duk-rich-text {
      @apply m-0;
    }

    ^&__term {
      @apply flex justify-start font-normal gap-x-4;
    }
  }

  &--search-list&--25-75 {
    ^&__term {
      @apply w-1/4;
    }

    ^&__definition {
      @apply w-3/4;
    }
  }

  &--search-list&--50-50 {
    ^&__term {
      @apply w-1/2;
    }

    ^&__definition {
      @apply w-1/2;
    }
  }

  &--search-list&--75-25 {
    ^&__term {
      @apply w-3/4;
    }

    ^&__definition {
      @apply w-1/4;
    }
  }
}
