.duk-detail-list {
  @apply lg:flex lg:flex-wrap;

  a {
    @apply text-indigo-500;
    @apply dark:text-indigo-200;
  }

  &__term,
  &__definition {
    @apply text-center;
    @apply sm:text-left;
  }

  &__term {
    @apply flex items-center space-x-3 justify-center mb-6 w-full font-semibold break-all;
    @apply sm:justify-start;
    @apply lg:w-1/4;
  }

  &__definition {
    @apply mb-24 break-all w-full;
    @apply sm:mb-6;
    @apply lg:w-3/4 lg:text-left;
  }

  & dt:last-of-type,
  & dd:last-of-type {
    @apply mb-0;
  }

  &--card {
    @apply py-10 px-6 pt-24;
    @apply sm:pt-10;
  }

  &--content {
    @apply py-0 px-0;
  }
}
