@import "../variables";

:export {
  white:            $white;
  gray100:          $gray-100;
  gray200:          $gray-200;
  gray300:          $gray-300;
  gray400:          $gray-400;
  gray500:          $gray-500;
  gray600:          $gray-600;
  gray700:          $gray-700;
  gray800:          $gray-800;
  gray900:          $gray-900;
  black:            $black;
  violet:           $violet;
  violetVariant:    $violet-variant;
  indigo:           $indigo;
  indigoVariant:    $indigo-variant;
  pink:             $pink;
  red:              $red;
  redVariant:       $red-variant;
  orange:           $orange;
  orangeVariant:    $orange-variant;
  yellow:           $yellow;
  yellowVariant:    $yellow-variant;
  green:            $green;
  greenVariant:     $green-variant;
  teal:             $teal;
  cyan:             $cyan;
  primary:          $primary;
  primaryVariant:   map_get($theme-colors, 'primary-variant');
  secondary:        $secondary;
  secondaryVariant: map_get($theme-colors, 'secondary-variant');
  success:          $success;
  info:             $info;
  warning:          $warning;
  danger:           $danger;
  light:            $light;
  dark:             $dark;
}
