.duk-heading {
  @apply flex items-center space-x-4;

  &--left {
    @apply justify-start;
  }

  &--center {
    @apply justify-center;
  }

  &--right {
    @apply justify-end;
  }

  /* FIXME should really live with the Button styles */
  > .duk-button-wrapper,
  > .duk-button-group {
    @apply flex flex-grow justify-end order-last;
  }

  & > .duk-icon {
    @apply block order-first pr-4;
  }

  & h1 + .duk-icon {
    @apply text-indigo-500;
    @apply dark:text-indigo-100;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5 {
    @apply text-2xl text-indigo-500 leading-7 order-2;
    @apply dark:text-indigo-100;
  }

  &--large {
    @apply space-x-6;
    > *:not(button) {
      @apply text-3xl leading-8;
    }
  }

  &--small {
    @apply space-x-3;
    > *:not(button) {
      @apply text-lg leading-6;
    }
  }

  &--disclaimer-list {
    @apply mb-5;
  }

  &--hero,
  &--card {
    &:not(:first-child) {
      @apply mt-12;
    }
    &:not(:last-child) {
      @apply mb-5;
    }
  }

  &--card {
    > *:not(button) {
      & h1,
      & h2,
      & h3,
      & h4,
      & h5 {
        @apply text-black;
        @apply dark:text-indigo-200;
      }
    }
  }

  &--success {
    & > *:not(button) {
      @apply text-green-900;
      @apply dark:text-green-200;
    }
  }

  &--warning {
    & > *:not(button) {
      @apply text-yellow-900;
      @apply dark:text-yellow-200;
    }
  }

  &--danger {
    & > *:not(button) {
      @apply text-red-900;
      @apply dark:text-red-200;
    }
  }
}
