.duk-control {
  @apply p-5 w-full;

  .duk-button-wrapper {
    @apply justify-center;
  }

  &__label {
    @apply pr-3;
  }

  &__input-wrapper {
    @apply flex items-center;
  }

  &__input {
    @apply w-full;
  }

  &__message {
    @apply flex items-center justify-end text-sm space-x-2 mt-2;

    min-height: 1.5rem;

    & > p:empty::before {
      content: "\00a0";
    }
  }

  &--stacked {
    ^&__label {
      @apply mb-1;
    }

    ^&__input {
      flex: 2;
    }
  }

  &--inline-fixed {
    ^&__wrapper {
      @apply flex w-full justify-center items-center mb-3 text-right;
      @apply md:justify-start;
    }

    ^&__label {
      flex: 1;
    }

    ^&__input {
      flex: 2;
    }
  }

  &--inline-flex {
    ^&__wrapper {
      @apply flex w-full justify-center items-center mb-3;
      @apply md:justify-start;
    }

    ^&__input {
      flex: 1;
    }
  }

  &--with-postfix {
    ^&__input {
      &--text-field {
        @apply border-r-0 rounded-tr-none rounded-br-none;
      }
    }

    .duk-button--control {
      @apply border border-solid border-gray-900 border-l-0 rounded-tl-none rounded-bl-none px-5;
      @apply dark:border-gray-100;

      line-height: inherit;
    }
  }

  &--with-prefix {
    ^&__input {
      &--text-field {
        @apply border-l-0 rounded-tl-none rounded-bl-none;
      }
    }
  }

  &--success {
    ^&__label,
    ^&__message {
      @apply text-green-900 not-italic;
      @apply dark:text-green-600;
    }
  }

  &--warning {
    ^&__label,
    ^&__message {
      @apply text-yellow-900 not-italic;
      @apply dark:text-yellow-600;
    }
  }

  &--danger {
    ^&__label,
    ^&__message {
      @apply text-red-900 not-italic;
      @apply dark:text-red-600;
    }
  }

  &--full {
    @apply w-full;
  }
  &--half {
    @apply sm:w-1/2;
  }
  &--quarter {
    @apply sm:w-1/4;
  }

  &--group {
    ^&__label {
      @apply font-bold;
    }
    & .duk-toggle-group {
      @apply my-5;
    }
  }
}
