.duk-control {
  @apply p-5;

  &__label {
    @apply pr-3;
  }

  &__input {
    @apply w-full;
  }

  &__message {
    @apply flex items-center justify-end text-sm space-x-2 mt-2;

    & > p:empty::before {
      content: "\00a0";
    }
  }

  &--stacked {
    & .duk-control__label {
      @apply mb-1;
    }

    & .duk-control__input {
      flex: 2;
    }
  }

  &--inline-fixed {
    & .duk-control__wrapper {
      @apply flex w-full justify-center items-center mb-3 text-right;
      @apply md:justify-start;
    }

    & .duk-control__label {
      flex: 1;
    }

    & .duk-control__input {
      flex: 2;
    }
  }

  &--inline-flex {
    & .duk-control__wrapper {
      @apply flex w-full justify-center items-center mb-3;
      @apply md:justify-start;
    }

    & .duk-control__input {
      flex: 1;
    }
  }

  &--success {
    & .duk-control__label,
    & .duk-control__message {
      @apply text-green-900 not-italic;
      @apply dark:text-green-600;
    }
  }

  &--warning {
    & .duk-control__label,
    & .duk-control__message {
      @apply text-yellow-900 not-italic;
      @apply dark:text-yellow-600;
    }
  }

  &--danger {
    & .duk-control__label,
    & .duk-control__message {
      @apply text-red-900 not-italic;
      @apply dark:text-red-600;
    }
  }
}
